<!DOCTYPE html>
<html lang="en">    
    
    <head>
        
        <title>HueBrand</title>

        <!-- Beginning Standard Meta Tags -->
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">    
            <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
            <meta name="apple-mobile-web-app-capable" content="yes">
            <meta name="apple-touch-fullscreen" content="yes">
            <meta name="description" content="HueBrand">
        <!-- Ending Standard Meta Tags -->

        <!-- Beginning CSS Files-->
            <script src="../js/jQuery-1.9.1.js"></script>

            <!-- CSS Files / General -->
            <link rel="stylesheet" type="text/css" href="../css/styles.css">
            <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
            <link rel="stylesheet" type="text/css" href="../css/jquery-ui.css">

            <!-- CSS Files / Fonts -->
            <link rel="stylesheet" type="text/css" href="../fonts/css/font-awesome.min.css"/>

            <!-- CSS Files / Left Nav Selector CSS Files -->
            <link rel="stylesheet" type="text/css" href="../css/selectize.css">
            <link rel="stylesheet" type="text/css" href="../css/selectize.bootstrap3.css">
            
            <!-- CSS Files / Modules / D3 Pie Chart -->
            <link rel="stylesheet" type="text/css" href="../css/nv.d3.css">
        <!-- Ending CSS Files-->
       
            <script src="../js/main.js"></script>
            <script src="../js/bootstrap.min.js"></script>
            <!--<script src="../js/jquery-ui.js"></script>-->
            <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

            <script src="../js/selectize.min.js"></script>

            <script src="../js/isotope.min.js"></script>

            <script src="../js/d3.js"></script>
            <script src="../js/nv.d3.js"></script>
            <script src="../js/pie.js"></script>
            <script src="../js/pieChart.js"></script>

    </head>

    <body style="background: #f4f6f8;">
   
   <div class="navbar navbar-default navbar-fixed-top" role="navigation" style="background-color: rgba(0, 0, 0, 0.87);">
      <div class="container" style="width: 1135px;">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">HueBrand</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            
          </ul>
          <ul class="nav navbar-nav navbar-right">

            <li class="active dropdown">

              <a href="#" class="dropdown-toggle" data-toggle="dropdown">  
                <div style="user-avatar"></div>
                Leslie Harrington 
                <b class="caret"></b>
              </a>

              <ul class="dropdown-menu">
                <li><a href="#">Search History</a></li>
                <li><a href="#">Favorites</a></li>
                <li><a href="#">Account Profile</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Support</a></li>
                <li><a href="#">Billing History</a></li>
                <li><a href="#">Sign Out</a></li>
              </ul>

            </li>

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>


    
<div class="container" style="width:200px;float:left;">
  <div class="row">
    <div id="my-nav" style="" class="span3">
  


<div class="bs-docs-container" style="">
    <div class="row">
        <div class="">
            <div class="bs-sidebar hidden-print" role="complementary">
                <ul class="nav bs-sidenav" style="font-family: 'Lato', sans-serif;padding-left: 15px;">
                  Search Module

<div id="tabs" style="margin-left: -15px;
">
  <ul>
    <li><a href="#tabs-1">Attributes</a></li>
    <li><a href="#tabs-2">Brands</a></li>
    <li><a href="#tabs-3">Colors</a></li>
    <li><a href="#tabs-4">Industry</a></li>
  </ul>
  <div id="tabs-1">
    <p> <div class="demo" style="margin-left:10px;">
                <div class="control-group">
                    <select id="select-state" name="state[]" multiple class="demo-default" style="width:100%" placeholder="Select an Attribute...">
                        <option value="">Select an Attribute...</option>
                        <option value="AL">Intelligent</option>
                        <option value="AK">Aspiring</option>
                        <option value="AZ">Arizona</option>
                        <option value="AR">Arkansas</option>
                        <option value="CA" selected>Cool</option>
                        <option value="CO">Colorado</option>
                        <option value="CT">Connecticut</option>
                        <option value="DE">Delaware</option>
                        <option value="DC">District of Columbia</option>
                        <option value="FL">Florida</option>
                        <option value="GA">Georgia</option>
                        <option value="HI">Hawaii</option>
                        <option value="ID">Idaho</option>
                        <option value="IL">Illinois</option>
                        <option value="IN">Indiana</option>
                        <option value="IA">Iowa</option>
                        <option value="KS">Kansas</option>
                        <option value="KY">Kentucky</option>
                        <option value="LA">Louisiana</option>
                        <option value="ME">Maine</option>
                        <option value="MD">Maryland</option>
                        <option value="MA">Massachusetts</option>
                        <option value="MI">Michigan</option>
                        <option value="MN">Minnesota</option>
                        <option value="MS">Mississippi</option>
                        <option value="MO">Missouri</option>
                        <option value="MT">Montana</option>
                        <option value="NE">Nebraska</option>
                        <option value="NV">Nevada</option>
                        <option value="NH">New Hampshire</option>
                        <option value="NJ">New Jersey</option>
                        <option value="NM">New Mexico</option>
                        <option value="NY">New York</option>
                        <option value="NC">North Carolina</option>
                        <option value="ND">North Dakota</option>
                        <option value="OH">Ohio</option>
                        <option value="OK">Oklahoma</option>
                        <option value="OR">Oregon</option>
                        <option value="PA">Pennsylvania</option>
                        <option value="RI">Rhode Island</option>
                        <option value="SC">South Carolina</option>
                        <option value="SD">South Dakota</option>
                        <option value="TN">Tennessee</option>
                        <option value="TX">Texas</option>
                        <option value="UT">Utah</option>
                        <option value="VT">Vermont</option>
                        <option value="VA">Virginia</option>
                        <option value="WA">Washington</option>
                        <option value="WV">West Virginia</option>
                        <option value="WI">Wisconsin</option>
                        <option value="WY" selected>Fascinating</option>
                    </select>
                </div>
                <script>
                $('#select-state').selectize({
                    maxItems: 5
                });
                </script>
            </div></p>
  </div>
  <div id="tabs-2">
    <p>Sample Text2</p>
  </div>
  <div id="tabs-3">
    <p>Sample Text3</p>
  </div>
  <div id="tabs-4">
    <p>Sample Text4</p>
  </div>
</div>
                </ul>
            </div>
            <!-- end bs-sidebar -->
        </div>
        <!-- end col-md-3 -->
      </div>
    <!-- end row -->
</div>

<div class="bs-docs-container" style="">
    <div class="row">
        <div class="">
            <div class="bs-sidebar hidden-print" role="complementary" style="top: 145px;">
                <ul class="nav bs-sidenav">
                  <li><a href="#top3colors1">Top 3 Colors for First Color</a></li>
                  <li><a href="#top3colors2">Top 3 Colors for Second Color</a></li>
                  <li><a href="#logocloud">Logo Cloud</a></li>
                  <li><a href="#top3industries">Top 3 Industries</a></li>
                  <li><a href="#commoncolors">Common Color Combinations</a></li>
                  <li><a href="#regional">Regional Attribute Associations</a></li>
                  <li><a href="#global">Global Attribute Color Associations</a></li>
                </ul>
            </div>
            <!-- end bs-sidebar -->
        </div>
        <!-- end col-md-3 -->
      </div>
    <!-- end row -->
</div>


    </div>
    
  </div>
</div>

        <div class="page-wrap">
            

            <div class="container-fluid" style="padding-top: 10px;margin-top: 60px;" id="top3colors1">
                             <div class="row-fluid">
                            <div class="span12 well">
                                <div class="title" >Colors used in the logo for <a href="http://<%= brandResult.website %>"><%= queryName%></a>
                                <small class="pull-right muted"></small>
                                </div>
                                <div class="well-content" style="padding:0px;bottom-left-radius:5px;">
                                <ul class="themeBox" style="position: relative;
                                    -ms-box-sizing: border-box;
                                    -moz-box-sizing: border-box;
                                    box-sizing: border-box;
                                    width: 100%;
                                    margin: 0px 0 0px;
                                    vertical-align: middle;
                                    text-overflow: ellipsis;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    color: #fff;
                                    text-align:center;
                                    ">
                                    <% var width = (1/brandResult.associatedColors.length)*100 %>
                                    <% for(var i=0; i<brandResult.associatedColors.length; i++){ %>
                                        <li title="#023550" style="background:rgb(
                                                        <%=brandResult.associatedColors[i].RrgbValue %>,
                                                        <%=brandResult.associatedColors[i].GrgbValue %>,
                                                        <%=brandResult.associatedColors[i].BrgbValue %>);
                                                        display: inline-block;
                                                        -ms-box-sizing: border-box;
                                                        -moz-box-sizing: border-box;
                                                        -webkit-box-sizing: border-box;
                                                        box-sizing: border-box;
                                                        margin: 0;
                                                        min-height: 150px;line-height: 150px; vertical-align:middle; 
                                                        width: <%=width%>%;
                                                        font-size: 30px;
                                                        overflow: hidden;
                                                        -webkit-print-color-adjust: exact;
                                                        }"></li>

                                    <%}%>
                                    </ul>

                                         <center>
                <div style="margin-top:30px;width:100%;height:50px;border-top: 1px solid rgba(233, 233, 233, 0.46);">
                    <div style="width:33.3%;height:49px;background-color:#fff;float:left;border-right: 1px solid rgba(233, 233, 233, 0.46)"><div style="margin:5px;height:40px; width:95%;background-color:#04BFBF;"></<div>
                        
                    </div></div>
                    <div style="width:33.3%;height:49px;float:left;line-height:50px;border-right: 1px solid rgba(233, 233, 233, 0.46)"><b>Color Name:</b> Green</div>
                    <div style="width:33.3%;height:49px;float:left;line-height:50px;"><b>Percentage:</b> 16%</div>
               </div>
        </center> 
                                </div>
                            </div>
                        </div>
               


                        
                        <div class="row-fluid">
                            <div class="span12 well" >
                                <div class="title">Top 3 Colors associated with Trustworthy
                                <small class="pull-right muted"></small>
                                </div>
                                <div class="well-content" style="padding: 0px;">
                                <ul class="themeBox" style="position: relative;
                                        -ms-box-sizing: border-box;
                                        -moz-box-sizing: border-box;
                                        box-sizing: border-box;
                                        width: 100%;
                                        margin: 0px 0 0px;
                                        vertical-align: middle;
                                        text-overflow: ellipsis;
                                        white-space: nowrap;
                                        overflow: hidden;
                                        color: #fff;
                                        "><li title="#023550" style="background: #023550;display: inline-block;
                                        -ms-box-sizing: border-box;
                                        -moz-box-sizing: border-box;
                                        -webkit-box-sizing: border-box;
                                        box-sizing: border-box;
                                        margin: 0;
                                        min-height: 150px;vertical-align:middle; 
                                        width: 33.333%;
                                        overflow: hidden;
                                        -webkit-print-color-adjust: exact;
                                        }"><div style="width: 33.3%;
height: 46px;
background-color: #000;
color: #fff;
bottom: 0;
left: 1;
position: absolute;
z-index: 1000;
font-size: 17.5px;
padding-left: 0px;
line-height: 22px;
font-weight: 500;
text-transform: uppercase;
text-align: center;border: 1px solid rgba(252, 252, 252, 0.13);">
Dark Green  <br><span style="
font-size: 10px;"><b>RGB:</b> 255, 192, 203 | <b>Hex:</b> #FFCBDB | <b>HSV:</b> 350, 0.83, 0.75 </span>
</div></li><li title="#023550" style="background: #0289AE;display: inline-block;
                                        -ms-box-sizing: border-box;
                                        -moz-box-sizing: border-box;
                                        -webkit-box-sizing: border-box;
                                        box-sizing: border-box;
                                        margin: 0;
                                        min-height: 150px;vertical-align:middle; 
                                        width: 33.333%;
                                        overflow: hidden;
                                        -webkit-print-color-adjust: exact;
                                        }"><div style="width: 33.3%;
height: 46px;
background-color: #000;
color: #fff;
bottom: 0;
left: 1;
position: absolute;
z-index: 1000;
font-size: 17.5px;
padding-left: 0px;
line-height: 22px;
font-weight: 500;
text-transform: uppercase;
text-align: center;border: 1px solid rgba(252, 252, 252, 0.13);">
Dark Green  <br><span style="
font-size: 10px;"><b>RGB:</b> 255, 192, 203 | <b>Hex:</b> #FFCBDB | <b>HSV:</b> 350, 0.83, 0.75 </span>
</div></li><li title="#023550" style="background: #04BFBF;display: inline-block;
                                        -ms-box-sizing: border-box;
                                        -moz-box-sizing: border-box;
                                        -webkit-box-sizing: border-box;
                                        box-sizing: border-box;
                                        margin: 0;
                                        min-height: 150px;vertical-align:middle; 
                                        width: 33.333%;
                                        overflow: hidden;
                                        -webkit-print-color-adjust: exact;
                                        }"><div style="width: 33.3%;
height: 46px;
background-color: #000;
color: #fff;
bottom: 0;
left: 1;
position: absolute;
z-index: 1000;
font-size: 17.5px;
padding-left: 0px;
line-height: 22px;
font-weight: 500;
text-transform: uppercase;
text-align: center;border: 1px solid rgba(252, 252, 252, 0.13);">
Dark Green  <br><span style="
font-size: 10px;"><b>RGB:</b> 255, 192, 203 | <b>Hex:</b> #FFCBDB | <b>HSV:</b> 350, 0.83, 0.75 </span>
</div></li></ul>
                                </div>
                            </div>
                        </div>
                    </div>




            <div class="container-fluid"  id="top3colors2">

               <div class="row-fluid">
                    <div class="span12 well">
                        <div class="title">Top 3 Colors associated with Dependable<small class="pull-right muted"></small></div>
                        <div class="well-content"  style="padding: 0px;">
                            <ul class="themeBox" style="position: relative;
                            -ms-box-sizing: border-box;
                            -moz-box-sizing: border-box;
                            box-sizing: border-box;
                            width: 100%;
                            margin: 0px 0 0px;
                            vertical-align: middle;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                            color: #fff;
                            text-align:center;
                            "><li title="#023550" style="background: #DD577A;display: inline-block;
                            -ms-box-sizing: border-box;
                            -moz-box-sizing: border-box;
                            -webkit-box-sizing: border-box;
                            box-sizing: border-box;
                            margin: 0;
                            min-height: 150px;line-height: 150px; vertical-align:middle; 
                            width: 33.333%;font-size: 30px;
                            overflow: hidden;
                            -webkit-print-color-adjust: exact;
                            }">#DD577A</li><li title="#FFF0CF" style="background: #563CE0;display: inline-block;
                            -ms-box-sizing: border-box;
                            -moz-box-sizing: border-box;
                            -webkit-box-sizing: border-box;
                            box-sizing: border-box;
                            margin: 0;
                            min-height: 150px;line-height: 150px; vertical-align:middle; 
                            width: 33.333%;font-size: 30px;
                            overflow: hidden;
                            -webkit-print-color-adjust: exact;
                            }">#FFF0CF</li><li title="#FE5A27" style="background: #FE5A27;display: inline-block;
                            -ms-box-sizing: border-box;
                            -moz-box-sizing: border-box;
                            -webkit-box-sizing: border-box;
                            box-sizing: border-box;
                            margin: 0;
                            min-height: 150px;line-height: 150px; vertical-align:middle; 
                            width: 33.333%;font-size: 30px;
                            overflow: hidden;
                            -webkit-print-color-adjust: exact;
                            }">#FE5A27</li></ul>    
                        </div>
                    </div>
                </div>
             </div>
            <div class="container-fluid" id="logocloud">
                <div class="row-fluid">
                    <div class="span12 well">
                        <div class="title" >Logo Cloud<small class="pull-right muted"><div class="portfolioFilter" style="color: #000000;
">

    <a href="#" data-filter="*" class="current">All Industries</a> <b>|</b>
    <a href="#" data-filter=".auto">Automobile</a> <b>|</b>
    <a href="#" data-filter=".finance">Finance</a> <b>|</b>
    <a href="#" data-filter=".consulting">Consulting</a> <b>|</b>
    <a href="#" data-filter=".pharma">Pharma</a>

</div></small></div>
                        <div class="well-content"  style="padding: 0px;">




<div class="portfolioContainer">

    <div class="auto">
        <img class="logo" src="http://images2.wikia.nocookie.net/__cb20130327050448/logopedia/images/thumb/e/e7/Toyota.svg/250px-Toyota.svg.png" width="250px">
    </div>
    
    <div class="auto">
        <img class="logo"  src="http://static2.wikia.nocookie.net/__cb20130406162703/logopedia/images/thumb/2/23/Daimler_AG.png/250px-Daimler_AG.png" width="250px">
    </div>  

    <div class="finance">
        <img class="logo" src="http://www.international-adviser.com/ia/files/6c/6c50e29a-c9aa-42c0-b024-861a1c87b0ae.jpg" width="250px">
    </div>
    
    <div class="finance">
        <img class="logo" src="http://espectadornegocios.com/media/xcore//8251_1334354821_logo-santander.jpg" width="250px">
    </div>

    <div class="consulting">
        <img class="logo" src="http://pspinfo.us/wp-content/uploads/2013/06/cisco-logo.jpg" width="250px">
    </div>

    <div class="consulting">
        <img class="logo" src="http://static1.wikia.nocookie.net/__cb20130517182014/logopedia/images/thumb/5/50/Oracle_logo.svg/300px-Oracle_logo.svg.png" width="250px">
    </div>

    <div class="pharma">
        <img class="logo" src="http://www.bms.com/images/news/media/logos/bms301.jpg" width="250px">
    </div>  
    
    <div class="pharma">
        <img class="logo" src="http://images2.wikia.nocookie.net/__cb20101231203942/logopedia/images/8/80/Pfizer_logo_2009.png" width="250px">
    </div>  
    
</div>

  

                        </div>
                    </div>
                </div>
                
            </div>



      <div class="container-fluid" id="colorcloud">
                <div class="row-fluid">
                    <div class="span12 well">
                        <div class="title" >Color Cloud<small class="pull-right muted">
<div class="portfolioFilter" style="color: #000000;
">

    <a href="#" data-filter="*" class="current">All Types</a> <b>|</b>
    <a href="#" data-filter=".dark">Dark</a> <b>|</b>
    <a href="#" data-filter=".neutral">Neutral</a> <b>|</b>
    <a href="#" data-filter=".light">Light</a> <b></b>
</div></small></div>
                        <div class="well-content"  style="padding: 0px;">



<div class="portfolioContainer">

    <div class="dark" style="margin:15px;background-color:#000;width:250px;height:100px;">
    </div>
    
     <div class="dark" style="margin:15px;background-color:#0e3;width:250px;height:100px;">
    </div> 

    <div class="dark" style="margin:15px;background-color:#021;width:250px;height:100px;">
    </div>
    
      <div class="neutral" style="margin:15px;background-color:#0f5;width:250px;height:100px;">
    </div>

    <div class="neutral" style="margin:15px;background-color:#0cc;width:250px;height:100px;">
    </div>

     <div class="neutral" style="margin:15px;background-color:#ccc;width:250px;height:100px;">
    </div>

    <div class="light" style="margin:15px;background-color:#ddd;width:250px;height:100px;">
    </div>

     <div class="light" style="margin:15px;background-color:#eee;width:250px;height:100px;">
    </div>
    
</div>

  

                        </div>
                    </div>
                </div>
                
            </div>



      <div class="container-fluid" id="colorcloud">
                <div class="row-fluid">
                    <div class="span12 well">
                        <div class="title" >Color Bio Box<span class="pull-right muted">Yellow</span></div>
                        <div class="well-content"  style="padding: 0px;">
                            <div style="background-color: #FFFF00;
height: 300px;
width: 380px;
float: left;
margin-right: 15px;
margin-top: 8px;
border: 1px solid rgb(218, 218, 218);
margin-left: 5px;
">

                            </div>
                            <div>
                                <div style="padding-top:10px;">

<table id="hor-minimalist-a" style="font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
font-size: 12px;
background: #fff;
width: 480px;
border-collapse: collapse;
text-align: left;
margin: 20px;">
<thead>
<tr>
</tr>
</thead>
<tbody>
<tr>
<td>Yellow is the color of gold, butter, or ripe lemons.[2] In the spectrum of visible light, and in the traditional color wheel used by painters, yellow is located between green and orange. Yellow is commonly associated with gold, wealth, sunshine, reason, happiness, optimism and pleasure, but also with cowardice, envy, jealousy and betrayal. It plays an important part in Asian culture, particularly in China.</td>
</tr>
</tbody>
</table>

<table id="hor-minimalist-a" style="font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
font-size: 12px;
background: #fff;
width: 480px;
border-collapse: collapse;
text-align: left;
margin: 20px;">
<thead>
<tr>
<th scope="col" style="width:150px;font-size: 14px;
font-weight: normal;
color: #039;
border-bottom: 2px solid #6678b1;
padding: 10px 0px;">Color Code</th>
<th scope="col" style="font-size: 14px;
font-weight: normal;
color: #039;
border-bottom: 2px solid #6678b1;
padding: 10px 8px;">Value</th>
</tr>
</thead>
<tbody>
<tr>
<td>Hex:</td>
<td>#FFFF00</td>
</tr>
<tr>
<td>RGB:</td>
<td>255, 255, 0</td>
</tr>
<tr>
<td>CMYK:</td>
<td>0, 0, 100, 0</td>
</tr>
<tr>
<td>HSV:</td>
<td>60°, 100%, 100%</td>
</tr>
</tbody>
</table>
                        </div>
                    </div>
                </div>
                
            </div>


    <div class="container-fluid" id="colorcloud">
                <div class="row-fluid">
                    <div class="span12 well">
                        <div class="title" >Color Attribute Associations<small class="pull-right muted"></small></div>
                        <div class="well-content"  style="padding: 0px;height:100px;">
                           <span style="background-color: #FAFAFA;
display: inline;
padding: 21px;
font-size: 100%;
font-weight: bold;
line-height: 5.5;
color: #030303;
text-align: center;
white-space: nowrap;
vertical-align: baseline;
border-radius: .25em;
margin-top: 16px;
margin-left: 10px;
border: 1px rgba(0, 0, 0, 0.07) solid;">Beautiful</span>&nbsp;
 <span style="background-color: #FAFAFA;
display: inline;
padding: 21px;
font-size: 100%;
font-weight: bold;
line-height: 5.5;
color: #030303;
text-align: center;
white-space: nowrap;
vertical-align: baseline;
border-radius: .25em;
margin-top: 16px;
margin-left: 10px;
border: 1px rgba(0, 0, 0, 0.07) solid;">Intelligent</span>&nbsp;
 <span style="background-color: #FAFAFA;
display: inline;
padding: 21px;
font-size: 100%;
font-weight: bold;
line-height: 5.5;
color: #030303;
text-align: center;
white-space: nowrap;
vertical-align: baseline;
border-radius: .25em;
margin-top: 16px;
margin-left: 10px;
border: 1px rgba(0, 0, 0, 0.07) solid;">Enthusiastic</span>&nbsp;
 <span style="background-color: #FAFAFA;
display: inline;
padding: 21px;
font-size: 100%;
font-weight: bold;
line-height: 5.5;
color: #030303;
text-align: center;
white-space: nowrap;
vertical-align: baseline;
border-radius: .25em;
margin-top: 16px;
margin-left: 10px;
border: 1px rgba(0, 0, 0, 0.07) solid;">Heart-warming</span>&nbsp;
 <span style="background-color: #FAFAFA;
display: inline;
padding: 21px;
font-size: 100%;
font-weight: bold;
line-height: 5.5;
color: #030303;
text-align: center;
white-space: nowrap;
vertical-align: baseline;
border-radius: .25em;
margin-top: 16px;
margin-left: 10px;
border: 1px rgba(0, 0, 0, 0.07) solid;">Energetic</span>&nbsp;
                       
                        </div>
                    </div>
                </div>
                
            </div>


            


            <div class="container-fluid">
               
                <div class="row-fluid">
                    <div class="span12">
                        <div class="row-fluid">
                            <div class="span12 well">
                                <div class="title" id="top3industries">Top 3 Industries using Attributes: Trustworthy, Dependable<small class="pull-right muted"></small></div>
                                <div class="well-content"  style="padding: 0px;">
                                      <ul class="themeBox" style="position: relative;
                                        -ms-box-sizing: border-box;
                                        -moz-box-sizing: border-box;
                                        box-sizing: border-box;
                                        width: 100%;
                                        margin: 0px 0 0px;
                                        vertical-align: middle;
                                        text-overflow: ellipsis;
                                        white-space: nowrap;
                                        overflow: hidden;
                                        color: #fff;
                                        text-align:center;
                                        "><li title="#023550" style="background: #33e;display: inline-block;
                                        -ms-box-sizing: border-box;
                                        -moz-box-sizing: border-box;
                                        -webkit-box-sizing: border-box;
                                        box-sizing: border-box;
                                        margin: 0;
                                        min-height: 150px;line-height: 150px; vertical-align:middle; 
                                        width: 33.333%;font-size: 30px;
                                        overflow: hidden;
                                        -webkit-print-color-adjust: exact;border-right-color: white;
                                        border-right: 1px solid;
                                        }">Automobile</li><li title="#028A9E" style="background: #551;display: inline-block;
                                        -ms-box-sizing: border-box;
                                        -moz-box-sizing: border-box;
                                        -webkit-box-sizing: border-box;
                                        box-sizing: border-box;
                                        margin: 0;
                                        min-height: 150px;line-height: 150px; vertical-align:middle; 
                                        width: 33.333%;font-size: 30px;
                                        overflow: hidden;border-right-color: white;
                                        border-right: 1px solid;
                                        -webkit-print-color-adjust: exact;
                                        }">Energy</li><li title="#04BFBF" style="background: #779;display: inline-block;
                                        -ms-box-sizing: border-box;
                                        -moz-box-sizing: border-box;
                                        -webkit-box-sizing: border-box;
                                        box-sizing: border-box;
                                        margin: 0;
                                        min-height: 150px;line-height: 150px; vertical-align:middle; 
                                        width: 33.333%;font-size: 30px;
                                        overflow: hidden;
                                        -webkit-print-color-adjust: exact;
                                        }">Fashion</li></ul>
                                </div>
                            </div>
                        </div>
                    
           
                    </div>
                </div>
            </div>


            <div class="container-fluid" id="commoncolors">

                        
                        <div class="row-fluid">
                            <div class="span12 well">
                                <div class="title" >Common Color Combinations
                                <small class="pull-right muted"></small>
                                </div>
                                <div class="well-content" style="padding:0px;">
                                   <center> 
                                   <svg id="test1" class="mypiechart"></svg></center>
                            
                                   <div>
                   
                                </div>
        <center>
                <div style="margin-top:30px;width:100%;height:50px;border-top: 1px solid rgba(233, 233, 233, 0.46);">
                    <div style="width:33.3%;height:49px;background-color:#fff;float:left;border-right: 1px solid rgba(233, 233, 233, 0.46)"><div style="margin:5px;height:40px; width:95%;background-color:#ff7f0e;"></<div>
                        
                    </div>></div>
                    <div style="width:33.3%;height:49px;float:left;line-height:50px;border-right: 1px solid rgba(233, 233, 233, 0.46)"><b>Color Name:</b> Orange</div>
                    <div style="width:33.3%;height:49px;float:left;line-height:50px;"><b>Percentage:</b> 23%</div>
               </div>
        </center>                    </div>
                        </div>
                    </div>

        <div class="container-fluid" >

                        
                        <div class="row-fluid">
                            <div class="span12 well">
                                <div class="title" id="regional">Regional Attribute Associations 
                                <small class="pull-right muted"></small>
                                </div>
                                <div class="well-content" style="padding:0px;bottom-left-radius:5px;">
                                  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d55745268.03186123!2d5.825006499999951!3d31.48510596289546!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1386107943888" width="100%" height="500" frameborder="0" style="border:0"></iframe>
                             
                                </div>
                            </div>
                        </div>
                    </div>


                          <div class="container-fluid" >


   <div class="row-fluid">
        <div class="span12 well">
            <div class="title" >Logo Timeline
                <small class="pull-right muted"></small>
            </div>
                    <div class="well-content" style="padding: 50px 0px 25px 15px;bottom-left-radius: 5px;background-color: #F2F5FA;color: #2A2A2A; overflow-x:scroll; white-space:nowrap;">
                                    <ul id='timeline'>
                                      <li class='work'>
                                        <input class='radio' id='work5' name='works' type='radio' checked>
                                        <div class="relative">
                                          <label for='work5'><img src="http://static1.wikia.nocookie.net/__cb20091106072917/logopedia/images/thumb/b/b4/Nickelodeon_1982.svg/250px-Nickelodeon_1982.svg.png" width="90%"></label>
                                          <span class='date'>2008</span>
                                          <span class='circle'></span>
                                        </div>
                                        <div class='content'>
                                        </div>
                                      </li>
                                      <li class='work'>
                                        <input class='radio' id='work4' name='works' type='radio'>
                                        <div class="relative">
                                          <label for='work4'><img src="http://static1.wikia.nocookie.net/__cb20091105193030/logopedia/images/thumb/d/d3/Nickelodeon_1981.png/250px-Nickelodeon_1981.png" width="90%"></label>
                                          <span class='date'>2011</span>
                                          <span class='circle'></span>
                                        </div>
                                        <div class='content'>
                                        </div>
                                      </li>
                                      <li class='work'>
                                        <input class='radio' id='work3' name='works' type='radio'>
                                        <div class="relative">
                                          <label for='work3'><img src="http://static3.wikia.nocookie.net/__cb20130419130532/logopedia/images/thumb/7/72/Nickelodeon_Logo.svg/237px-Nickelodeon_Logo.svg.png" width="90%"></label>
                                          <span class='date'>2013</span>
                                          <span class='circle'></span>
                                        </div>
                                        <div class='content'>
                                        </div>
                                      </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                     </div>


            <div class="container-fluid footer">
                <div class="row-fluid">
                    <div class="span12">
                        <p class="pull-right" style="color: #716b7a;padding: 5px 20px;font-size: 12px;">
                        <a href="a-main.html">© 2013 Hue Group</a></p>
                    </div>
                </div>
            </div>
    
    </div>




            
    </body>

</html>