<!-- [about.html] - About Page -->

<% include header %>
<% include sidebar %>
<div style="text-align:center;"><br>
          <p>
            Every day nearly 1,000 products are launched globally, <br>
            about 200 new businesses are added in the United States alone, <br>
            a new logo is introduced every seven minutes, <br>
            and they each involve a color decision! <br>

            <b style="font-size:15px;">In fact, anything that is made is made in color! </b>
          </p>
          <p style="font-size:16px;">
            <b>HUEGROUP is on a mission to bring you the best Color Analytics <br> out there to help you make the most informed, most creative, most <br> aspirational and overall most effective Color Decision!</b>
          </p>
          <p>
            <b style="font-size:15px;">Making the right color decision is everything but easy and nothing short of critical.</b> Consider this: </p>
            <i>85% of consumers’ buying decisions are influenced by color</i><br>
            <i>68% of returns of online purchases are attributed to color mistakes</i><br>
            <i>Certain color cars have greater likelihood to be involved in accidents</i><br>
            <i>Employee productivity is directly linked to color in the workspace</i>
          </p><br>
          <p>
            <b style="font-size:16px;">At HUEGROUP we collect and analyze millions of colors in industry, bringing<br> you invaluable color data and analytics to maximize your Color Decisions’ ROI.</b>
          </p><br>
          <p>
            <b style="font-size: 20px;">HUEGROUP, is the world’s color data and intelligence platform,</b><br> providing color analytics from across <br>
            product categories, consumer industries and market segments that <br><b style="font-size:18px;">inform, inspire, support and validate all color decisions.</b>
          </p>

 
</div>
<% include footer %>

