<!-- [about.html] - About Page -->

<% include header %>
<% include sidebar %>

    <div class="container-fluid" style="float:left;margin-right:2%;width:50%;">
      <div class="span12 well">
        <div class="title" >
          <button type="button" class="btn btn-default">      
            About
          </button>
            <span class="pull-right muted">
              <div class="tooltips">
              </div>
            </span>
        </div>
        <div class="well-content" style="height: 600px;overflow: hidden;padding:20px;">
          Huebrand was created by the Color Association. It is used to identify the colors in logos. Huebrand is a database of over 1,000 logos and 350 brand manuals. Huebrand was created by the Color Association. It is used to identify the colors in logos. Huebrand is a database of over 1,000 logos and 350 brand manuals <br><br>
          Huebrand was created by the Color Association. It is used to identify the colors in logos. Huebrand is a database of over 1,000 logos and 350 brand manuals. Huebrand was created by the Color Association. It is used to identify the colors in logos. Huebrand is a database of over 1,000 logos and 350 brand manuals <br><br>
          Huebrand was created by the Color Association. It is used to identify the colors in logos. Huebrand is a database of over 1,000 logos and 350 brand manuals. Huebrand was created by the Color Association. It is used to identify the colors in logos. Huebrand is a database of over 1,000 logos and 350 brand manuals <br><br>
          Huebrand was created by the Color Association. It is used to identify the colors in logos. Huebrand is a database of over 1,000 logos and 350 brand manuals. Huebrand was created by the Color Association. It is used to identify the colors in logos. Huebrand is a database of over 1,000 logos and 350 brand manuals <br><br>
        </div>
      </div>
    </div>

<% include footer %>

