<!-- [attribute.html] - Page for Attribute Search Result -->

<% include header %>
<% include sidebar %>

  <div class="row analytics-row">
    <% include m_analytics %>
  </div>

  <div class="row first-row">
      <% include m_attribute-info %>
      <% include m_global-colorTop %>
      <% include m_global-colorChart %>
  </div>

  <div class="row">
      <% include m_global-colorGradient %> 
      <% include m_global-map %> 
      <% include m_global-logoCloud %>
  </div>

<% include footer %>

