<!-- [attribute.html] - Page for Brand Search Results -->

<% include header %>
<% include sidebar %>
<div class="row" style="height:50px;margin-top:10px;margin-left:2px;font-size:16px;">
	<span style="margin-left:0px;">Search by:</span>
	<span style="margin-left:20px;">Color</span> 
	<span style="margin-left:20px;">Company</span>
	<span style="margin-left:20px;">Industry</span>
	<span style="margin-left:20px;font-weight:700;color: #FF0808;">Attribute</span>
</div>
<div class="row" style="font-weight:500;">
	<div class="col-md-4" style="padding-bottom:10px;border-right: 1px solid #eee;">The Attribute</div>
	<div class="col-md-4" style="padding-bottom:10px;border-right: 1px solid #eee;">The Colors Used</div>
	<div class="col-md-4" style="padding-bottom:10px;">The Industry Logos & Frequency</div>
</div>

   <div class="row">
        <div class="col-md-4" style="border-right: 1px solid #eee;">
        <% include module_attributeInfo %> 
  <% include module_geoMap %> 
</div>
        <div class="col-md-4" style="border-right: 1px solid #eee;"><% include module_topColors %>
			<% include module_colorChart %> </div>
        <div class="col-md-4">
          <% include module_logoCloud %>    
  <% include module_topIndustries %>
</div>
      </div>

<% include footer %>
