<!-- [color.html] - Page for Color Search Results -->

<% include header %>
<% include sidebar %>
<div class="row" style="height:50px;margin-top:10px;margin-left:2px;font-size:16px;">
  <span style="margin-left:0px;">Search by:</span>
  <span style="margin-left:20px;font-weight:700;color: #FF0808;1">Color</span> 
  <span style="margin-left:20px;">Company</span>
  <span style="margin-left:20px;">Industry</span>
  <span style="margin-left:20px;">Attribute</span>
</div>
<div class="row" style="font-weight:500;">
  <div class="col-md-4" style="padding-bottom:10px;border-right: 1px solid #eee;">The Company</div>
  <div class="col-md-4" style="padding-bottom:10px;border-right: 1px solid #eee;">The Logo Colors + Meaning</div>
  <div class="col-md-4" style="padding-bottom:10px;">The Industry Logos + Colors</div>
</div>

   <div class="row">
        <div class="col-md-4" style="border-right: 1px solid #eee;">
        <% include module_colorInfo %> 
  <% include module_geoMap %> 
</div>
        <div class="col-md-4" style="border-right: 1px solid #eee;"><% include module_colorPalette %>
    
          <% include module_topColors %> </div>
        <div class="col-md-4">
          <% include module_topIndustries %>    
  <% include module_logoCloud %>
</div>
      </div>