<!-- [contact.html] - Contact Page -->

<% include header %>
<% include sidebar %>

    <div class="container-fluid general-container">
      <div class="span12 well">
        <div class="title" >
          <button type="button" class="btn btn-default">      
            Contact
          </button>
            <span class="pull-right muted">
              <div class="tooltips">
              </div>
            </span>
        </div>
        <div class="well-content general-well">
          Message HueBrand at the following, type out this form to send a message to us<br><br>
          Message HueBrand at the following, type out this form to send a message to us<br><br>
          Message HueBrand at the following, type out this form to send a message to us<br><br>
          Message HueBrand at the following, type out this form to send a message to us<br><br>
         
        </div>
      </div>
    </div>

<% include footer %>

