<!-- [contact.html] - Contact Page -->

<% include header %>
<% include sidebar %>

    <div class="container-fluid general-container">
      <div class="span12 well">
        <div class="title" >
          <button type="button" class="btn btn-default">      
            Contact
          </button>
            <span class="pull-right muted">
              <div class="tooltips">
              </div>
            </span>
        </div>
        <div id="contact" class="well-content general-well">
          HUEGROUP Inc.<br>
          <div>
            <p>33 Whitehall Street, Suite M3</p>
            <p>New York, NY 10004</p>
            <p><b>Web: </b><a href="http://www.hue-group.com">www.hue-group.com</a></p>
            <p><b>Info: </b><a href="mailto:hello@hue-group.com">hello@hue-group.com</a></p>
          </div>
        </div>
      </div>
    </div>

<% include footer %>

