<!-- [footer.ejs] - Includes Bottom Footer -->
<!-- Parent is a Search Result Page: Either attribute, brand, color, or industry.html -->

</div>
	
<div class="navbar navbar-fixed-bottom" style="border-top: rgba(0, 0, 0, 0.18) 1px solid!important;">
  <div class="container">
    <ul>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Terms</a></li>
      <li><a href="#">Privacy</a></li>
    </ul>
    <p class="pull-right">
     <a href="#"">Hue Group © 2014</a></li>
    </p>
  </div>
</div>
  
</body>

<% include js_last %>

</html>