<!-- [footer.ejs] - Includes Bottom Footer -->
<div class="navbar navbar-fixed-bottom">
  <div class="container">
    <ul>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/terms">Terms</a></li>
      <li><a href="/privacy">Privacy</a></li>
    </ul>
    <p class="pull-right">
     <a href="#">© 2014. <u>HUEbrand</u> by HUEGROUP Inc.</a></li>
    </p>
  </div>
</div>
  
</body>

</html>