<!-- [footer.ejs] - Includes Bottom Footer -->
<!-- Parent is a Search Result Page: Either attribute, brand, color, or industry.html -->

</div>
	
<div class="navbar navbar-fixed-bottom" style="border-top: rgba(0, 0, 0, 0.18) 1px solid!important;background-color: #fff!important;">
  <div class="container">
    <ul>
      <li><a href="about.html">About</a></li>
      <li><a href="contact.html">Contact</a></li>
      <li><a href="terms.html">Terms</a></li>
      <li><a href="privacy.html">Privacy</a></li>
    </ul>
    <p class="pull-right">
     <a href="#"">Hue Group © 2014</a></li>
    </p>
  </div>
</div>
  
</body>

</html>