<!-- [header.ejs] - Includes Head, Opening Body, and Navbar -->
<!-- Parent is a Search Result Page: Either attribute, brand, color, or industry.html -->

<!DOCTYPE html>
<html lang="en">    

<head>
  <title>
	HueBrand - Brand Search Results <%= testName %>
  </title>
	<% include assets %>
</head>

<body class="body">
  <% include navbar %>
   