<html>
<head>
	<title>HueBrand</title>
</head>
<body>
	<div>
		<p>Search for your color, brand, industry or attribute!</p>
		<form id="main_query" action="query" method="post">
			<input type="textbox" name="query_text">
			<input type="radio" name="query_type" value="color">Color</input>
			<input type="radio" name="query_type" value="brandName">Brand Name</input>
			<input type="radio" name="query_type" value="attribute">Attribute</input>
			<input type="radio" name="query_type" value="industry">Industry</input>
			<input type="submit" value="Submit"></input>
		</form>
	</div>
</body>
</html>