<!DOCTYPE html>

<html lang="en">    

  <head>

    <title>
      HueBrand - Industry Search Results
    </title>

    <!-- Beginning Standard Meta Tags -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">    
      <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="apple-touch-fullscreen" content="yes">
      <meta name="description" content="HueBrand">
    <!-- End -->

    <!-- Beginning General JS Files -->
      <script src="../js/jQuery-1.9.1.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
      <script src="../js/bootstrap.min.js"></script>
    
    <!-- Beginning General CSS Files-->
      <link rel="stylesheet" type="text/css" href="../css/styles.css">
      <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="../css/jquery-ui.css">

    <!-- CSS Files / Fonts -->
      <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
      <link href='http://fonts.googleapis.com/css?family=Arimo:400,500,600,700' rel='stylesheet' type='text/css'>

    <!-- Left Nav Selector CSS & JS Files -->
      <link rel="stylesheet" type="text/css" href="../css/selectize.css">
      <link rel="stylesheet" type="text/css" href="../css/selectize.bootstrap3.css">
      <script src="../js/selectize.js"></script>

    <!-- Modules / D3 Pie Chart CSS & JS-->
      <link rel="stylesheet" type="text/css" href="../css/nv.d3.css">
      <script src="../js/d3.js"></script>
      <script src="../js/nv.d3.js"></script>
      <script src="../js/pie.js"></script>
      <script src="../js/pieChart.js"></script>

    <!-- Modules / Logo Colors and Color Combos-->
      <script src="../js/swapcontent.js"></script>

    <!-- Modules / Maps CSS & JS-->
      <script src="https://www.google.com/maps/api/js?key=AIzaSyA5y2psfzpgbo0rmK7CviW4dADqj0VrmBw&sensor=false"></script>

    <!-- Modules / Logo Cloud & Color Cloud Isotope CSS & JS -->
    <script src="../js/jquery.isotope.js"></script>

    <!-- Custom JS Files -->
      <script src="../js/zmain.js"></script>

  </head>

  <body class="body">
    <div>
    <!-- Top Navigation Bar  -->
      <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container" style="width: 1000px;">
        <!-- Top Navigation Bar - Left Part - Company Logo -->
          <a class="navbar-brand" href="#">
            <span style="font-weight:900">Hue</span>Brand</a>
        <!-- Top Navigation Bar - Right Part - User Admin Pages -->
          <ul class="nav navbar-nav navbar-right">
            <li class="active dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">  
                  <img src="http://m.c.lnkd.licdn.com/mpr/mpr/shrink_200_200/p/4/000/157/2f0/2b9a518.jpg" height="30px" width="30px">
                  <span style="font-size: 15px;">Leslie Harrington</span> 
                  <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                  <li class="dropdown-header">Product Features</li>
                  <li><a href="#">Favorites</a></li>
                  <li><a href="#">News</a></li>
                  <li><a href="#">Search History</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">User Account</li>
                  <li><a href="#">User Profile</a></li>
                  <li><a href="#">Billing History</a></li>
                  <li><a href="#">Support</a></li>
                  <li><a href="#">Sign Out</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>

  <div class="bs-docs-container" style="position:absolute; top:55px;">
    <div class="bs-sidebar" >
      <!--  Search Bar  -->
      <ul class="nav bs-sidenav" style="margin-bottom: 20px;">
        <div class="title">
          Search
           <span class="pull-right muted">
            <i class="fa fa-search"></i>
           </span>
        </div>           
        <div id="tabs">
          <ul>
            <li><a href="#tabs-brands">Brands</a></li>
            <li class="ui-state-active"><a href="#tabs-industries">Industries</a></li>
            <li><a href="#tabs-colors">Colors</a></li>
            <li><a href="#tabs-attributes">Attributes</a></li>

          </ul>
         
          <div id="tabs-brands">
            <div class="demo">
              <div class="control-group">
                <select id="select-brand" name="brand[]" multiple class="demo-default"  placeholder="Select a brand...">
                  <option value="">Select a brand...</option>
                  <optgroup label="Technology">
                    <option value="Microsoft" >Microsoft<img src="http://content7.flixster.com/movie/11/12/20/11122085_mob.jpg" alt=""></option>
                    <option value="Facebook">Facebook</option>
                    <option value="Google">Google</option>
                    <option value="Yahoo">Yahoo</option>
                  </optgroup>
                  <optgroup label="Finance">
                    <option value="UBS">UBS</option>
                    <option value="Goldman Sachs">Goldman Sachs</option>
                  </optgroup>
                  <optgroup label="Accounting">
                    <option value="PwC">PwC</option>
                    <option value="KPMG">KPMG</option>
                  </optgroup>
                </select>
             </div>
            </div>
            <script>
              $('#select-brand').selectize({
                maxItems: 3
              });
            </script>
          </div>
           <div id="tabs-industries">
              <div class="demo">
              <div class="control-group">
                <select id="select-industry" name="industry[]" multiple class="demo-default"  placeholder="Select an industry...">
                  <option value="">Select an industry...</option>
                  <optgroup label="Construction">Construction</option>
                    <option value="Home-Building">Home-Building</option>
                    <option value="Building Materials">Building Materials</option>
                  <optgroup label="Energy">
                    <option value="Solar">Solar</option>
                    <option value="Wind">Wind</option>
                  </optgroup>
                  <optgroup label="Financial">
                    <option value="Banking">Banking</option>
                    <option value="Hedge Funds">Hedge Funds</option>
                  </optgroup>
                  </select>
             </div>
            </div>
            <script>
              $('#select-industry').selectize({
                maxItems: 3
              });
            </script>
          </div>
          <div id="tabs-colors">
            <div class="demo">
              <div class="control-group">
                <select id="select-color" name="color[]" multiple class="demo-default"  placeholder="Select a color...">
                  <option value="">Select a color...</option>
                  <optgroup label="Blacks">Construction</option>
                    <option value="Midnight">Midnight</option>
                    <option value="Grey">Grey</option>
                  <optgroup label="Blues">
                    <option value="Dark Blue">Dark Blue</option>
                    <option value="Light Blue">Light Blue</option>
                  </optgroup>
                  <optgroup label="Reds">
                    <option value="Dark Red">Dark Red</option>
                    <option value="Light Red">Light Red</option>
                  </optgroup>
                </select>
             </div>
            </div>
            <script>
              $('#select-color').selectize({
                maxItems: 3
              });
            </script>
          </div>
         
           <div id="tabs-attributes">
            <div class="demo">
              <div class="control-group">
                <select id="select-attribute" name="attribute[]" multiple class="demo-default"  placeholder="Select an attribute...">
                  //file://localhost/Users/ej463/Downloads/selectize.js-master/examples/github.html //
                  <option value="">Select an attribute...</option>
                  <option value="Aspiring">Aspiring</option>
                  <option value="Candid">Candid</option>
                  <option value="Caring">Caring</option>
                  <option value="Cooperative">Cooperative</option>
                  <option value="Generous">Generous</option>
                  <option value="Modest">Modest</option>
                  <option value="Respectful">Respectful</option>
                  <option value="Serious">Serious</option>
                </select>
             </div>
            </div>
            <script>
              $('#select-attribute').selectize({
                maxItems: 3
              });
            </script>
          </div>
        </div>
      </ul>
    <!--  Index Bar  -->
      <ul class="nav bs-sidenav">
        <div class="title">
          <b>Industry</b> 
          <span class="pull-right muted" style="font-size:10px;margin-right:0px;margin-top:3px;">
          Technology
          </span> 
        </div>             
  
     
        <li>
          <a class="sidenav-link" href="#logocloud">
            <span class="sidenav-title-icon">
            <i class="fa fa-cloud"></i>
            </span>
            Industry Logo Cloud
          </a>
        </li>


        <li>
          <a class="sidenav-link" href="#colorcombos">
            <span class="sidenav-title-icon">
            <i class="fa fa-bar-chart-o"></i>
            </span>
            Industry Color Ratio
          </a>
        </li>


        <li>
          <a class="sidenav-link"  href="#regionalattributes">
            <span class="sidenav-title-icon">
            <i class="fa fa-globe"></i>
            </span>
            Industry ColorGeo Map
          </a>
        </li>
             
        <li>
          <a class="sidenav-link" href="#colorattributes">
            <span class="sidenav-title-icon">
            <i class="fa fa-crosshairs"></i>
            </span>
            Top 5 Attribute Associations
          </a>
        </li>
        

         
      </ul>
    </div>
  </div>

  <div class="page-wrap">


    <!--  Module - Industry Logo Cloud -->
     <div class="container-fluid" id="logocloud" style="margin-bottom:200px;">
      <div class="span12 well">
        <div class="title" >
          <button type="button" class="btn btn-default">      
            <i class="fa fa-cloud" style=""></i>
            Industry Logo Cloud
          </button>
            <span class="pull-right muted">
              <div class="tooltips">
                <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="" data-original-title="Information on the Company Logo Colors">
                  <i class="fa fa-info-circle"></i>
                </button>
              </div>
            </span>
        </div>
        <div class="well-content">
         <div class="logoCloudFilter">
            <a href="#" data-filter="*" class="current">All Market Caps</a>
            <a href="#" data-filter=".first">5B+</a>
            <a href="#" data-filter=".second">1B - 5B</a>
            <a href="#" data-filter=".third">500M - 1B</a>
            <a href="#" data-filter=".fourth">0-500M</a>

          </div>

          <div class="logoCloudContainer">

            <div class="first">
              <img src="../Logos/<%= brandResult.logoFileName%>" alt="image">
            </div>
            
            <div class="third">
              <img src="../Logos/<%= brandResult.logoFileName%>" alt="image">
            </div>  

            <div class="second">
              <img src="../Logos/<%= brandResult.logoFileName%>" alt="image">
            </div>
            
            <div class="fourth">
              <img src="../Logos/<%= brandResult.logoFileName%>" alt="image">
            </div>

            <div class="first">
              <img src="../Logos/<%= brandResult.logoFileName%>" alt="image">
            </div>

            <div class="second">
              <img src="../Logos/<%= brandResult.logoFileName%>" alt="image">
            </div>

            <div class="third">
              <img src="../Logos/<%= brandResult.logoFileName%>" alt="image">
            </div>  
            
            <div class="first">
              <img src="../Logos/<%= brandResult.logoFileName%>" alt="image">
            </div>  
            
          </div>

          </div>
        </div>
      </div>

 	</div>


    <!--  Module - Industry Color Ratio -->

    <div class="container-fluid" id="colorcombos">
      <div class="span12 well">
        <div class="title" >
          <button type="button" class="btn btn-default">      
            <i class="fa fa-bar-chart-o"></i>
            Industry Color Ratio
          </button>
            <span class="pull-right muted">
              <div class="tooltips">
                <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="" data-original-title="Information on the Common Color Combinations">
                  <i class="fa fa-info-circle"></i>
                </button>
              </div>
            </span>
        </div>
        <div class="well-content">
           <ul id="colorcombos-data">
           
            <li id="combo-color1" style="background:rgb(117,117,117);width: 26.6%;"></li>
            <li id="combo-color2" style="background:rgb(141,182,0);width: 6.6%;"></li>
            <li id="combo-color3" style="background:rgb(255,90,54);width: 26.6%;"></li>
            <li id="combo-color4" style="background:rgb(8,146,208);width: 6.6%;"></li>
            <li id="combo-color5" style="background:rgb(85,85,85);width: 9.6%;"></li>
            <li id="combo-color6" style="background:rgb(255,86,0);width: 23.6%;"></li>
       
          </ul>
          <ul class="logocolors-selected">
            <li class="logocolors-selected-color">
              <div style="background-color:rgb( 255, 90, 54);height:50px"></div>
            </li>
            <li class="logocolors-selected-colorname">
              <span style="font-weight:900;text-transform:uppercase;font-size:15px;">Color Name:</span>
              <span style="font-weight:400;text-transform:uppercase;font-size:15px;"><%=brandResult.associatedColors[0].colorName%></span>
            </li>
            <li class="logocolors-selected-colorpercentage">
              <span style="font-weight:900;text-transform:uppercase;font-size:15px;">Percentage:</span>
              <span style="font-weight:400;text-transform:uppercase;font-size:15px;">%</span>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!--  Module - Industry ColorGeo Map  -->
    <div class="container-fluid" id="regionalattributes">
      <div class="span12 well">
        <div class="title" >
          <button type="button" class="btn btn-default">      
            <i class="fa fa-globe"></i>
            Industry ColorGeo Map
          </button>
            <span class="pull-right muted">
              <div class="tooltips">
                <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="" data-original-title="Information on the Regional Attribute Associations">
                  <i class="fa fa-info-circle"></i>
                </button>
              </div>
            </span>
        </div>
        <!-- Content - Google Map -->
        <div class="well-content">
          <iframe src="http://bit.ly/1bO1TSB" width="100%" height="500" frameborder="0" style="border:0"></iframe>
        </div>
      </div>
    </div>

    <!--  Module - Top 5 Attribute Associations -->
    <div class="container-fluid" id="colorattributes">
      <div class="span12 well">
        <div class="title" >
          <button type="button" class="btn btn-default">      
            <i class="fa fa-star"></i>
            Top 5 Attribute Associations
          </button>
            <span class="pull-right muted">
              <div class="tooltips">
                <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="" data-original-title="Information on the Top Color Attribute Associations">
                  <i class="fa fa-info-circle"></i>
                </button>
              </div>
            </span>
        </div>
        <div class="well-content">
          <ul id="colorattributes-data">
            <li>Beautiful</li>
            <li>Intelligent</li>
            <li>Heart-warming</li>
            <li>Enthusiastic</li>
            <li>Energetic</li>
          </ul>
        </div>
      </div>
    </div>

    <!--  Footer  -->
      <div class="navbar navbar-fixed-bottom" style="min-height:25px;height:25px;">
        <div class="container" style="width:1000px;font-size:10px;font-family:'Lato';">
            <a href="#" style="color:#fff;">About</a> |
            <a href="#" style="color:#fff;">Contact</a> |
            <a href="#" style="color:#fff;">Terms</a> |
            <a href="#" style="color:#fff;">Privacy</a>
            <p class="pull-right" style="color:white!important;font-family:'Lato';font-size:10px;">
              <a href="#" style="color:#fff;">Hue Group © 2014</a>
            </p>
        </div>
      </div>
  </div>
  
  </body>


  <script>
   // Get Pixels of Logo
 
    var img= document.getElementById('logo'),
        new_img = new Image();

    new_img.onload = function() {
        var img_width  = this.width,
            img_height = this.height;
        
        document.getElementById('logopixels').innerHTML = '' + img_width + 'PX x ' + img_height + 'PX';
    }

    new_img.src = img.src;

    // Isotope
    $(window).load(function(){
        var $container = $('.logoCloudContainer');
        $container.isotope({
            filter: '*',
            animationOptions: {
                duration: 750,
                easing: 'linear',
                queue: false
            }
        });
     
        $('.logoCloudFilter a').click(function(){
            $('.logoCloudFilter .current').removeClass('current');
            $(this).addClass('current');
     
            var selector = $(this).attr('data-filter');
            $container.isotope({
                filter: selector,
                animationOptions: {
                    duration: 750,
                    easing: 'linear',
                    queue: false
                }
             });
             return false;
        }); 
    });
  </script>

</html>