<!-- [industry.html] - Page for Color Search Results -->

<% include header %>
<% include sidebar %>

	<div class="row" style="margin-bottom: 1%;">
	    <% include m_analytics %>
	</div>

	<div class="row" style="margin-bottom: 1%">
		<% include m_industry-info %> 
		<% include m_global-colorTop %>
		<% include m_global-colorChart %>
	</div>

	<div class="row">
		<% include m_global-colorGradient %> 
		<% include m_global-map %>  
		<% include m_global-logoCloud %>
	</div>

<% include footer %>
