<!DOCTYPE html>
<html lang="en">    
<head>
  <title>HueBrand - Brand Search Results</title>
  <% include assets %>
</head>

<body id="landing">

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Top Navigation Bar - Left Part - Company Logo -->
    <a class="navbar-brand" href="/">
      <img src="/img/huebrand_logo.png">
    </a>

    <ul class="pull-right">
      <a href='/login' class="btn btn-primary btn-large" id="login-button">Login</a>
    </ul>

<div style="width: 1400px;float: left;margin-top:20px;">
  
  <div class="page-header">
    <h1>Call to Action</h1>
  </div>
  
  <ul class="ch-grid">
    <li>
      <div class="circle-container">
        <div class="cycle-slideshow" data-cycle-timeout=2000  data-cycle-pause-on-hover="true" data-cycle-slides="> div" style="margin-left: 75px;">

          <div class="ch-item" style="border: 1px solid rgb(224, 224, 224);background-image: url(../../img/landing/modified/brands/canon.png);">
            <div class="ch-info">
              <p style="">View on HUEKnew</p>
            </div>
          </div>

          <div class="ch-item" style="border: 1px solid rgb(224, 224, 224);background-image: url(../../img/landing/modified/brands/lufthansa.png)">
            <div class="ch-info">
              <p style="">View on HUEKnew</p>
            </div>
          </div>
          <div class="ch-item" style="border: 1px solid rgb(224, 224, 224);background-image: url(../../img/landing/modified/brands/hertz.png)">
            <div class="ch-info">
              <p style="">View on HUEKnew</p>
            </div>
          </div>
          <div class="ch-item" style="border: 1px solid rgb(224, 224, 224);background-image: url(../../img/landing/modified/brands/bp.png)">
            <div class="ch-info">
              <p style="">View on HUEKnew</p>
            </div>
          </div>
          <div class="ch-item" style="border: 1px solid rgb(224, 224, 224);background-image: url(../../img/landing/modified/brands/pfizer.png)">
            <div class="ch-info">
              <p style="">View on HUEKnew</p>
            </div>
          </div>
          <div class="ch-item" style="border: 1px solid rgb(224, 224, 224);background-image: url(../../img/landing/modified/brands/gap.png)">
            <div class="ch-info">
              <p style="">View on HUEKnew</p>
            </div>
          </div>
          <div class="ch-item" style="border: 1px solid rgb(224, 224, 224);background-image: url(../../img/landing/modified/brands/nyu.png)">
            <div class="ch-info">
              <p style="">View on HUEKnew</p>
            </div>
          </div>
          <div class="ch-item" style="border: 1px solid rgb(224, 224, 224);background-image: url(../../img/landing/modified/brands/tmobile.png)">
            <div class="ch-info">
              <p style="">View on HUEKnew</p>
            </div>
          </div>
          <div class="ch-item" style="border: 1px solid rgb(224, 224, 224);background-image: url(../../img/landing/modified/brands/tesla.png)">
            <div class="ch-info">
              <p style="">View on HUEKnew</p>
            </div>
          </div>
          <div class="ch-item" style="border: 1px solid rgb(224, 224, 224);background-image: url(../../img/landing/modified/brands/ibm.png)">
            <div class="ch-info">
              <p style="">View on HUEKnew</p>
            </div>
          </div>
          <div class="ch-item" style="border: 1px solid rgb(224, 224, 224);background-image: url(../../img/landing/modified/brands/ups.png)">
            <div class="ch-info">
              <p style="">View on HUEKnew</p>
            </div>
          </div>
        </div>
      </div>
    </li>

    
    <li>
      <div class="circle-container">
        <div class="cycle-slideshow" data-cycle-timeout=2000  data-cycle-pause-on-hover="true" data-cycle-slides="> div" style="margin-top: 75px;margin-left:150px;">

          <div class="ch-item" style="border:1px #000 solid;background-image: url(/img/landing/modified/attributes/confidence.png);">
            <div class="ch-info">
              <p style="">View on HUEKnew</p>
            </div>
          </div>

          <div class="ch-item" style="border:1px #000 solid;background-image: url(/img/landing/modified/attributes/energizing.png)">
            <div class="ch-info">
              <p style="">View on HUEKnew</p>
            </div>
          </div>

          <div class="ch-item" style="border:1px #000 solid;background-image: url(/img/landing/modified/attributes/happy.png)">
            <div class="ch-info">
              <p style="">View on HUEKnew</p>
            </div>
          </div>

          <div class="ch-item" style="border:1px #000 solid;background-image: url(/img/landing/modified/attributes/trust.png)">
            <div class="ch-info">
              <p style="">View on HUEKnew</p>
            </div>
          </div>

          <div class="ch-item" style="border:1px #000 solid;background-image: url(/img/landing/modified/attributes/safe.png)">
            <div class="ch-info">
              <p style="">View on HUEKnew</p>
            </div>
          </div>

          <div class="ch-item" style="border:1px #000 solid;background-image: url(/img/landing/modified/attributes/dependable.png)">
            <div class="ch-info">
              <p style="">View on HUEKnew</p>
            </div>
          </div>

          <div class="ch-item" style="border:1px #000 solid;background-image: url(/img/landing/modified/attributes/firstinclass.png)">
            <div class="ch-info">
              <p style="">View on HUEKnew</p>
            </div>
          </div>
          
          <div class="ch-item" style="border:1px #000 solid;background-image: url(/img/landing/modified/attributes/love.png)">
            <div class="ch-info">
              <p style="">View on HUEKnew</p>
            </div>
          </div>

          <div class="ch-item" style="border:1px #000 solid;background-image: url(/img/landing/modified/attributes/calm.png)">
            <div class="ch-info">
              <p style="">View on HUEKnew</p>
            </div>
          </div>

          <div class="ch-item" style="border:1px #000 solid;background-image: url(/img/landing/modified/attributes/caution.png)">
            <div class="ch-info">
              <p style="">View on HUEKnew</p>
            </div>
          </div>
         
          <div class="ch-item" style="border:1px #000 solid;background-image: url(/img/landing/modified/attributes/grounded.png)">
            <div class="ch-info">
              <p style="">View on HUEKnew</p>
            </div>
          </div>

        </div>
      </div>
    </li>

    <li>
      <div class="circle-container">
        <div class="cycle-slideshow"  data-cycle-fx=fade data-cycle-timeout=2000  data-cycle-pause-on-hover="true" data-cycle-slides="> div" style="margin-top: 150px;margin-left:75px;">
          <div class="ch-item" style="border: 1px solid rgb(224, 224, 224);background-image: url(../../img/icons/industries/electronics.svg);">
            <div class="ch-info">
              <p style="">View on HUEKnew</p>
            </div>
          </div>

          <div class="ch-item" style="border: 1px solid rgb(224, 224, 224);background-image: url(../../img/icons/industries/airlines.svg);">
            <div class="ch-info">
              <p style="">View on HUEKnew</p>
            </div>
          </div>
          <div class="ch-item" style="border: 1px solid rgb(224, 224, 224);background-image: url(../../img/icons/industries/transportation.svg);">
            <div class="ch-info">
              <p style="">View on HUEKnew</p>
            </div>
          </div>
          <div class="ch-item" style="border: 1px solid rgb(224, 224, 224);background-image: url(../../img/icons/industries/oil_&_gas.svg);">
            <div class="ch-info">
              <p style="">View on HUEKnew</p>
            </div>
          </div>
          <div class="ch-item" style="border: 1px solid rgb(224, 224, 224);background-image: url(../../img/icons/industries/pharmaceuticals.svg);">
            <div class="ch-info">
              <p style="">View on HUEKnew</p>
            </div>
          </div>
          <div class="ch-item" style="border: 1px solid rgb(224, 224, 224);background-image: url(../../img/icons/industries/retail.svg);">
            <div class="ch-info">
              <p style="">View on HUEKnew</p>
            </div>
          </div>
          <div class="ch-item" style="border: 1px solid rgb(224, 224, 224);background-image: url(../../img/icons/industries/education.svg);">
            <div class="ch-info">
              <p style="">View on HUEKnew</p>
            </div>
          </div>
          <div class="ch-item" style="border: 1px solid rgb(224, 224, 224);background-image: url(../../img/icons/industries/telecommunications.svg);">
            <div class="ch-info">
              <p style="">View on HUEKnew</p>
            </div>
          </div>
          <div class="ch-item" style="border: 1px solid rgb(224, 224, 224);background-image: url(../../img/icons/industries/auto.svg);">
            <div class="ch-info">
              <p style="">View on HUEKnew</p>
            </div>
          </div>
          <div class="ch-item" style="border: 1px solid rgb(224, 224, 224);background-image: url(../../img/icons/industries/computing.svg);">
            <div class="ch-info">
              <p style="">View on HUEKnew</p>
            </div>
          </div>
          <div class="ch-item" style="border: 1px solid rgb(224, 224, 224);background-image: url(../../img/icons/industries/packaging_&_containers.svg);">
            <div class="ch-info">
              <p style="">View on HUEKnew</p>
            </div>
          </div>
        </div>
      </div>
    </li>

    <li>
      <div class="circle-container">
        <div class="cycle-slideshow"  data-cycle-fx=fade data-cycle-timeout=2000  data-cycle-pause-on-hover="true" data-cycle-slides="> div" style="margin-top: 75px;">
          <div class="ch-item" style="background-color:#FF0000;">
            <div class="ch-info">
              <p style="">View on HUEKnew</p>
            </div>
          </div>
          <div class="ch-item" style="background-color:#FFA500;">
            <div class="ch-info">
              <p style="">View on HUEKnew</p>
            </div>
          </div>
            <div class="ch-item" style="background-color:#FFFF00;">
            <div class="ch-info">
              <p style="">View on HUEKnew</p>
            </div>
          </div>
            <div class="ch-item" style="background-color:#008000;">
            <div class="ch-info">
              <p style="">View on HUEKnew</p>
            </div>
          </div>
            <div class="ch-item" style="background-color:#ADD8E6;">
            <div class="ch-info">
              <p style="">View on HUEKnew</p>
            </div>
          </div>
            <div class="ch-item" style="background-color:#0000A0;">
            <div class="ch-info">
              <p style="">View on HUEKnew</p>
            </div>
          </div>
            <div class="ch-item" style="background-color:#800080;">
            <div class="ch-info">
              <p style="">View on HUEKnew</p>
            </div>
          </div>
            <div class="ch-item" style="background-color:#FF00FF;">
            <div class="ch-info">
              <p style="">View on HUEKnew</p>
            </div>
          </div>
            <div class="ch-item" style="background-color:#808080;">
            <div class="ch-info">
              <p style="">View on HUEKnew</p>
            </div>
          </div>
            <div class="ch-item" style="background-color:#000000;">
            <div class="ch-info">
              <p style="">View on HUEKnew</p>
            </div>
          </div>
           <div class="ch-item" style="background-color:#A52A2A;">
            <div class="ch-info">
              <p style="">View on HUEKnew</p>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>

  <div class="text-row">
    <div class="text-unit">Brand </div>
    <div class="text-unit">Attribute </div>
    <div class="text-unit" style="width:22%;">Industry</div>
    <div class="text-unit">Color</div>
  </div>

  <div style="text-align:center;width:100%;">
    <a class="btn btn-primary btn-large" id="signup-button">Sign Up Now</a>
  </div>

<% include footer %>
