<!DOCTYPE html>
<html lang="en">    
<head>
  <title>HueBrand - Brand Search Results</title>
  <% include assets %>
</head>

<body id="landing">

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Top Navigation Bar - Left Part - Company Logo -->
    <a class="navbar-brand" href="/">
      <img src="/img/huebrand_logo.png">
    </a>

    <ul class="pull-right">
      <a href='/login' class="btn btn-primary btn-large" id="login-button">Login</a>
    </ul>

<div class="landing-container">
  
  <div class="page-header">
    <h1>Call to Action</h1>
  </div>
  
  <ul class="ch-grid">
    <li>
      <div class="circle-container">
        <div id="circle-brand" class="cycle-slideshow" data-cycle-timeout=2000  data-cycle-slides="> div">
          <div class="ch-item" style="border: 1px solid rgb(224, 224, 224);background-image: url(../../img/landing/modified/brands/canon.png);"></div>
          <div class="ch-item" style="border: 1px solid rgb(224, 224, 224);background-image: url(../../img/landing/modified/brands/lufthansa.png)"></div>
          <div class="ch-item" style="border: 1px solid rgb(224, 224, 224);background-image: url(../../img/landing/modified/brands/hertz.png)"></div>
          <div class="ch-item" style="border: 1px solid rgb(224, 224, 224);background-image: url(../../img/landing/modified/brands/bp.png)"></div>
          <div class="ch-item" style="border: 1px solid rgb(224, 224, 224);background-image: url(../../img/landing/modified/brands/pfizer.png)"></div>
          <div class="ch-item" style="border: 1px solid rgb(224, 224, 224);background-image: url(../../img/landing/modified/brands/gap.png)"></div>
          <div class="ch-item" style="border: 1px solid rgb(224, 224, 224);background-image: url(../../img/landing/modified/brands/nyu.png)"></div>
          <div class="ch-item" style="border: 1px solid rgb(224, 224, 224);background-image: url(../../img/landing/modified/brands/tmobile.png)"></div>
          <div class="ch-item" style="border: 1px solid rgb(224, 224, 224);background-image: url(../../img/landing/modified/brands/tesla.png)"></div>
          <div class="ch-item" style="border: 1px solid rgb(224, 224, 224);background-image: url(../../img/landing/modified/brands/ibm.png)"></div>
          <div class="ch-item" style="border: 1px solid rgb(224, 224, 224);background-image: url(../../img/landing/modified/brands/ups.png)"></div>
        </div>
      </div>
    </li>

    
    <li>
      <div class="circle-container">
        <div id="circle-attribute" class="cycle-slideshow" data-cycle-timeout=2000  data-cycle-slides="> div">
          <div class="ch-item" style="border:1px #000 solid;background-image: url(/img/landing/modified/attributes/confidence.png);"></div>
          <div class="ch-item" style="border:1px #000 solid;background-image: url(/img/landing/modified/attributes/energizing.png)"></div>
          <div class="ch-item" style="border:1px #000 solid;background-image: url(/img/landing/modified/attributes/happy.png)"></div>
          <div class="ch-item" style="border:1px #000 solid;background-image: url(/img/landing/modified/attributes/trust.png)"></div>
          <div class="ch-item" style="border:1px #000 solid;background-image: url(/img/landing/modified/attributes/safe.png)"></div>
          <div class="ch-item" style="border:1px #000 solid;background-image: url(/img/landing/modified/attributes/dependable.png)"></div>
          <div class="ch-item" style="border:1px #000 solid;background-image: url(/img/landing/modified/attributes/firstinclass.png)"></div>
          <div class="ch-item" style="border:1px #000 solid;background-image: url(/img/landing/modified/attributes/love.png)"></div>
          <div class="ch-item" style="border:1px #000 solid;background-image: url(/img/landing/modified/attributes/calm.png)"></div>
          <div class="ch-item" style="border:1px #000 solid;background-image: url(/img/landing/modified/attributes/caution.png)"></div>
          <div class="ch-item" style="border:1px #000 solid;background-image: url(/img/landing/modified/attributes/grounded.png)"></div>
        </div>
      </div>
    </li>

    <li>
      <div class="circle-container">
        <div id="circle-industry" class="cycle-slideshow"  data-cycle-fx=fade data-cycle-timeout=2000  data-cycle-slides="> div" >
          <div class="ch-item" style="border: 1px solid rgb(224, 224, 224);background-image: url(../../img/icons/industries/electronics.svg);"></div>
          <div class="ch-item" style="border: 1px solid rgb(224, 224, 224);background-image: url(../../img/icons/industries/airlines.svg);"></div>
          <div class="ch-item" style="border: 1px solid rgb(224, 224, 224);background-image: url(../../img/icons/industries/transportation.svg);"></div>
          <div class="ch-item" style="border: 1px solid rgb(224, 224, 224);background-image: url(../../img/icons/industries/oil_&_gas.svg);"></div>
          <div class="ch-item" style="border: 1px solid rgb(224, 224, 224);background-image: url(../../img/icons/industries/pharmaceuticals.svg);"></div>
          <div class="ch-item" style="border: 1px solid rgb(224, 224, 224);background-image: url(../../img/icons/industries/retail.svg);"></div>
          <div class="ch-item" style="border: 1px solid rgb(224, 224, 224);background-image: url(../../img/icons/industries/education.svg);"></div>
          <div class="ch-item" style="border: 1px solid rgb(224, 224, 224);background-image: url(../../img/icons/industries/telecommunications.svg);"></div>
          <div class="ch-item" style="border: 1px solid rgb(224, 224, 224);background-image: url(../../img/icons/industries/auto.svg);"></div>
          <div class="ch-item" style="border: 1px solid rgb(224, 224, 224);background-image: url(../../img/icons/industries/computing.svg);"></div>
          <div class="ch-item" style="border: 1px solid rgb(224, 224, 224);background-image: url(../../img/icons/industries/packaging_&_containers.svg);"></div>
        </div>
      </div>
    </li>

    <li>
      <div class="circle-container">
        <div id="circle-color" class="cycle-slideshow"  data-cycle-fx=fade data-cycle-timeout=2000 data-cycle-slides="> div" >
          <div class="ch-item" style="background-color:#FF0000;"></div>
          <div class="ch-item" style="background-color:#FFA500;"></div>
          <div class="ch-item" style="background-color:#FFFF00;"></div>
          <div class="ch-item" style="background-color:#008000;"></div>
          <div class="ch-item" style="background-color:#ADD8E6;"></div>
          <div class="ch-item" style="background-color:#0000A0;"></div>
          <div class="ch-item" style="background-color:#800080;"></div>
          <div class="ch-item" style="background-color:#FF00FF;"></div>
          <div class="ch-item" style="background-color:#808080;"></div>
          <div class="ch-item" style="background-color:#000000;"></div>
          <div class="ch-item" style="background-color:#A52A2A;"></div>
        </div>
      </div>
    </li>
  </ul>

  <div class="text-row">
    <div class="text-unit">Brand </div>
    <div class="text-unit">Attribute </div>
    <div class="text-unit" style="width:22%;">Industry</div>
    <div class="text-unit">Color</div>
  </div>

  <div style="text-align:center;width:100%;">
    <a href="" class="btn btn-primary btn-large" id="signup-button">Sign Up Now</a>
  </div>

<% include footer %>
