<!-- [learnmore.html] - Learn More Page -->
<!-- need to adjust form path , took out error handling -->
<% include header %>
<% include sidebar %>

<div id="user-management">
  <h4 class="txt-cntr">Interested in more information regarding a HUEGROUP subscription?<br> Please complete this brief set of questions and we will contact you with additional information.</h4>
    <div class="login-head txt-cntr">
      <form id= "login-form" enctype="multipart/form-data" autocomplete="off" action="/learnmore" method="post">
          <div class="fl clr d-i-b">
              <label>EMAIL</label>
              <input type="text" name="email" /=/ >
          </div>
          <div class="fl clr d-i-b">
              <label>FIRST NAME</label>
              <input type="text" name="email"/ >
          </div>
          <div class="fl clr d-i-b">
              <label>LAST NAME</label>
              <input type="text" name="email"/ >
          </div>
          <div class="fl clr d-i-b">
              <label>COMPANY NAME</label>
              <input type="text" name="email"/ >
          </div>
          <div class="fl clr d-i-b">
              <label>TELEPHONE</label>
              <input type="text" name="email"/ >
          </div>
          <div class="fl clr d-i-b">
              <label>COUNTRY</label>
              <input type="text" name="email"/ >
          </div>
          <div class="fl clr d-i-b">
              <label>JOB FUNCTION</label>
              <input type="text" name="email"/ >
          </div>
          <div class="txt-cntr clr submit-button">
              <input type="submit"  value="Submit"/>
          </div>
      </form>
    </div>
</div>
<% include footer %>


