<!-- [m.ejs] - General Module that can be used for Static Pages -->

    <div class="container-fluid general-container">
      <div class="span12 well">
        <div class="title" >
          <button type="button" class="btn btn-default">      
            About
          </button>
            <span class="pull-right muted">
              <div class="tooltips">
              </div>
            </span>
        </div>
        <div class="well-content general-well">
        </div>
      </div>
    </div>