    <div class="container-fluid" style="float:left;margin-right:2%;width:50%;">
      <div class="span12 well">
        <div class="title" >
          <button type="button" class="btn btn-default">      
            About
          </button>
            <span class="pull-right muted">
              <div class="tooltips">
              </div>
            </span>
        </div>
        <div class="well-content" style="height: 600px;overflow: hidden;color:#000;">
        </div>
      </div>
    </div>