
<div style="border: 1px solid rgba(224, 224, 224, 0.48);
width: 96%;
height: 60px;
background-color: rgba(255, 255, 255, 0.27);
margin-left: 2%;
margin-right: 2%;">
  <div style="height: 100%;
text-align: center;
width: 20%;
float: left;
border-right: 1px rgba(224, 224, 224, 0.48) solid;
font-size: 11px;
font-weight: 100;
padding-top: 5px;">
  <span style="font-weight: 100;
font-size: 22px;
">Yellow</span><br>
  Viewed 956 Times
  </div>
  <div style="height: 100%;
text-align: center;
width: 20%;
float: left;
border-right: 1px rgba(224, 224, 224, 0.48) solid;
font-size: 11px;
font-weight: 100;
padding-top: 5px;">
  <span style="font-weight: 100;
font-size: 22px;
">IBM;GE;Pfizer</span><br>
  Top Searched Companies
  </div>
  <div style="height: 100%;
text-align: center;
width: 20%;
float: left;
border-right: 1px rgba(224, 224, 224, 0.48) solid;
font-size: 11px;
font-weight: 100;
padding-top: 5px;">
  <span style="font-weight: 100;
font-size: 22px;
">Trust;Joy</span><br>
  Top Searched Attributes
  </div>
  <div style="height: 100%;
text-align: center;
width: 20%;
float: left;
border-right: 1px rgba(224, 224, 224, 0.48) solid;
font-size: 11px;
font-weight: 100;
padding-top: 5px;">
  <span style="font-weight: 100;
font-size: 22px;
">Technology</span><br>
  Top Searched Industry
  </div>
  <div style="height: 100%;
text-align: center;
width: 20%;
float: left;
border-right: 1px rgba(224, 224, 224, 0.48) solid;
font-size: 11px;
font-weight: 100;
padding-top: 5px;">
  <span style="font-weight: 100;
font-size: 22px;
">Red</span><br>
  Top Searched Color
  </div>
</div>