<div class="analytics-container owl-carousel">
  <div class="analytics-cell">
    <div class="analytics-header">Yellow</div>
    <div class="analytics-subText">Viewed 956 Times</div>
  </div>
  <div class="analytics-cell">
    <div class="analytics-header">IBM</div>
    <div class="analytics-subText">Top Searched Companies</div>
  </div>
  <div class="analytics-cell">
    <div class="analytics-header">Trust; Joy</div>
    <div class="analytics-subText">Top Searched Attributes</div>
  </div>
  <div class="analytics-cell">
    <div class="analytics-header">Technology</div>
    <div class="analytics-subText">Top Searched Industry</div>
  </div>
  <div class="analytics-cell">
    <div class="analytics-header">Red</div>
    <div class="analytics-subText">Top Searched Color</div>
  </div>
   <div class="analytics-cell">
    <div class="analytics-header">Technology</div>
    <div class="analytics-subText">Top Searched Industry</div>
  </div>
  <div class="analytics-cell">
    <div class="analytics-header">Red</div>
    <div class="analytics-subText">Top Searched Color</div>
  </div>
</div>

