<!--  Module - Attribute Info - "Shows What the Attribute is and the Dictionary Definition for it" -->
     <div class="container-fluid" id="attribute-info">
      <div class="span12 well">
        <div class="title" >
          <button type="button" class="btn btn-default">      
            Attribute
          </button>
        </div>
        <div class="well-content">
          <div class="attribute-container">
            <%   
              var capAttrName = attributeResult.attribute.charAt(0).toUpperCase() + attributeResult.attribute.slice(1);
              console.log(attributeResult.description);
            %>
             <div class="attribute-name"><%=capAttrName%>
             </div>
          </div>
          <div class="attribute-description">
            <%= attributeResult.description %>
          </div>
        </div>
      </div>
    </div>





        