<!--  Module - Color Combinations - "Shows a Stacked Grid Chart of Brand Color Percentages" -->
    <div class="container-fluid" id="colorchart">
      <div class="span12 well">
        <div class="title" >
          <button type="button" class="btn btn-default">      
            Color Combinations
          </button>
            <span class="pull-right muted">
              <div class="tooltips">
              </div>
            </span>
        </div>
        <div class="well-content" style="height:300px;padding:20px;">
        <div style="width:100%;height:300px;">
        <div style="width:50%;float:left;>
          <span style="text-align:center;font-weight:500;height:30px;padding-bottom:10px;">
            Popular Brand Colors
          </span>
         <div style="height:220px;margin-right:10px;">
          <div style="font-size:11px;color:#fff;padding-left:10px;height:10%;border: 1px solid #DBDBDB;background-color:#000;margin-bottom:5px;">
            Black - 10%
          </div>
          <div style="font-size:11px;color:#fff;padding-left:10px;height:60%;border: 1px solid #DBDBDB;background-color:#eee;margin-bottom:5px;">
            Gray - 60%
          </div>
          <div style="font-size:11px;color:#fff;padding-left:10px;height:30%;border: 1px solid #DBDBDB;background-color:#fff;margin-bottom:5px;">
            White - 30%
          </div>
         </div>
        </div>
        <div style="width:50%;float:left;">
         <span style="text-align:center;font-weight:500;height:30px;width:100%;padding-bottom:10px;">
           Popular Secondary Brand Colors</span>
          <div style="height:220px;margin-right:10px;float:left;width:100%;">
          <div style="font-size:11px;color:#fff;padding-left:10px;height:10%;border: 1px solid #DBDBDB;background-color:#D21319;margin-bottom:5px;">
            Dark Red - 10%
          </div>
          <div style="font-size:11px;color:#fff;padding-left:10px;height:60%;border: 1px solid #DBDBDB;background-color:#B15353;margin-bottom:5px;">
            Light Red - 60%
          </div>
          <div style="font-size:11px;color:#fff;padding-left:10px;height:30%;border: 1px solid #DBDBDB;background-color:#C20419;margin-bottom:5px;">
            Normal Red - 30%
          </div>
         </div>
        </div>
      </div>

        </div>
      </div>
    </div>