<!--  Module - Attribute Info - "Shows What the Attribute is and the Dictionary Definition for it" -->
     <div class="container-fluid" id="colorinfo"  style="float:left;margin-left:2%;margin-right:2%;width:30.66%;">
      <div class="span12 well">
        <div class="title" >
          <button type="button" class="btn btn-default">      
            Attribute
          </button>
            <span class="pull-right muted">
              <div class="tooltips">
              </div>
            </span>
        </div>
        <div class="well-content" style="height:250px;">
          <div style="height: 100%;width: 35%;float: left;padding: 20px;">
             <div style="height:10%;text-align:center;color: #000;line-height: 230px;font-weight: 100;font-size: 25px;">Dependable
             </div>
          </div>
          <div style="height: 100%;font-size: 14px;line-height: 16px;width: 65%;color:000;float: left;padding: 20px;">
            Dependable is considered a mellow color that is highly reflective. It is seen as something with high energy that generates creativity. Although the cover gives off a feeling on enlighteningment when shaded to close to green, it leaves an acidic feeling in consumers minds that is highly unfavorable. Yellow is good to use if you are trying to get consumers attention fast because the eye is immediately drawn to it. // DICTIONARY API
          </div>
        </div>
      </div>
    </div>





        