<!--  Module - Logo History - "Provides a History of all Past Logos" -->
   
 <% 
  
  if(brandResult.logoHistory.length < 1){ %>
<script>
  $(function(){
  document.getElementById( 'logoHistory' ).style.display = 'none'; 
});
</script>
 <%}%>
    <div class="container-fluid" id="logoHistory">
      <div class="span12 well">
        <div class="title" >
          <button type="button" class="btn btn-default">      
            Logo History
          </button>
        </div>
        <!-- Content - Logo History -->
        <div class="well-content">
          <% for(var i=0; i<brandResult.logoHistory.length; i++){ %>
            
            <div class="logo-container">
              <div class="logo">
                <img src="../logos/<%= brandResult.logoHistory[i].fileName%>">
              </div>
              <div class="year">
                <%= brandResult.logoHistory[i].year%>
              </div>
            </div>
          <%}%>   
        </div>
      </div>
    </div>
