<!--  Module - Logo History - "Provides a Timeline of all Past Logos" -->
    <div class="container-fluid" id="logotimeline">
      <div class="span12 well">
        <div class="title" >
          <button type="button" class="btn btn-default">      
            Logo History
          </button>
            <span class="pull-right muted">
              <div class="tooltips">
              </div>
            </span>
        </div>
        <!-- Content - Logo History -->
        <div class="well-content" style="padding: 20px;font-size: 14px;font-weight: 700;">
          <% for(var i=0; i<brandResult.logoHistory.length; i++){ %>
            <div style="float:left;margin-right:5px;width:125px;border: 1px rgba(240, 240, 240, 0.47) solid; ">
              <div style="width: 125px;">
                <img src="../Logos/<%= brandResult.logoHistory[i].fileName%>" style="height:100px;display: block;margin: 0 auto;">
              </div>
              <div style="text-align:center;margin-top:10px;font-weight: 700;background-color: rgb(250, 250, 250);">
              <%= brandResult.logoHistory[i].year%>
              </div>
            </div>
          <%}%>   
        </div>
      </div>
    </div>