<!--  Module - Logo History - "Provides a Timeline of all Past Logos" -->
   
 <% if(brandResult.logoHistory.length > 0){ %>
              <script>
               document.getElementById( 'logotimeline' ).style.display = 'none'; 
              </script>
 <%}%>
    <div class="container-fluid" id="logotimeline" style="width:10%;float:left;margin-right:2%;margin-left:2%;height:300px;"">
      <div class="span12 well">
        <div class="title" >
          <button type="button" class="btn btn-default">      
            Logo History
          </button>
            <span class="pull-right muted">
              <div class="tooltips">
              </div>
            </span>
        </div>
        <!-- Content - Logo History -->
        <div class="well-content" style="height:300px;padding: 5%;font-size: 14px;font-weight: 700;height:450px;">
          <% for(var i=0; i<brandResult.logoHistory.length; i++){ %>
            <div style="float:left;margin-right:0px;margin-top:5%;width:99%;border: 1px rgba(240, 240, 240, 0.47) solid; ">
              <div style="width: 99%">
                <img src="../Logos/<%= brandResult.logoHistory[i].fileName%>" style="height:100px;display: block;margin: 0 auto;">
              </div>
              <div style="text-align:center;margin-top:10px;font-weight: 700;background-color: rgb(250, 250, 250);">
              <%= brandResult.logoHistory[i].year%>
              </div>
            </div>
          <%}%>   
        </div>
      </div>
    </div>
