    <!--  Module - Color Info - "Provides a Definition on what the Color is" -->
     <div class="container-fluid" id="colorinfo" style="width:33%;float:left;margin-right:10px;">
      <div class="span12 well">
        <div class="title" >
          <button type="button" class="btn btn-default">      
            Color Bio
          </button>
            <span class="pull-right muted">
              <div class="tooltips">
              </div>
            </span>
        </div>
        <div class="well-content" style="height:300px;">
          
     <div style="height: 100%;
width: 40%;
float: left;
padding: 20px;">

             <div style="background-color:#ffff00;height:200px;width:200px;float:left;margin-right:20px;margin-top:20px;margin-left:20px;
border: 1px solid #F5F5F5;
"></div>
          </div>
            <div style="margin-top:20px;float:left;height:250px;width:400px;padding-right:20px;">
            Yellow is considered a mellow color that is highly reflective. It is seen as something with high energy that generates creativity. Although the cover gives off a feeling on enlighteningment when shaded to close to green, it leaves an acidic feeling in consumers minds that is highly unfavorable. Yellow is good to use if you are trying to get consumers attention fast because the eye is immediately drawn to it. // MAPS API
          </div>
        </div>
      </div>
    </div>




