    <!--  Module - Color Info - "Provides Information on what the Color is" -->
     <div class="container-fluid" id="color-info">
      <div class="span12 well">
        <div class="title" >
          <button type="button" class="btn btn-default">      
            Color Bio
          </button>
        </div>
        <div class="well-content" style="height:250px;">
          <div class="color-container">
             <div class="color"></div>
          </div>
          <div class="color-description">
            Yellow is considered a mellow color that is highly reflective. It is seen as something with high energy that generates creativity. Although the cover gives off a feeling on enlighteningment when shaded to close to green, it leaves an acidic feeling in consumers minds that is highly unfavorable.
          </div>
        </div>
      </div>
    </div>




