    <!--  Module - Color Info - "Provides a Definition on what the Color is" -->
     <div class="container-fluid" id="colorinfo" style="float:left;margin-left:2%;margin-right:2%;width:30.66%;">
      <div class="span12 well">
        <div class="title" >
          <button type="button" class="btn btn-default">      
            Color Bio
          </button>
            <span class="pull-right muted">
              <div class="tooltips">
              </div>
            </span>
        </div>
        <div class="well-content" style="height:250px;">
          <div style="height: 100%;width: 40%;float: left;padding: 20px;">
             <div style="width:100px;height:100px;background-color:#ffff00;float:left;margin-right:20px;margin-top:50px;margin-left:20px;border: 1px solid #F5F5F5;"></div>
          </div>
            <div style="margin-top:20px;float:left;height:250px;width:60%;padding-right:20px;font-size: 14px;line-height: 16px;">
            Yellow is considered a mellow color that is highly reflective. It is seen as something with high energy that generates creativity. Although the cover gives off a feeling on enlighteningment when shaded to close to green, it leaves an acidic feeling in consumers minds that is highly unfavorable. // MAPS API
          </div>
        </div>
      </div>
    </div>




