    <!--  Module - Color Info - "Provides Information on what the Color is" -->
     <div class="container-fluid" id="color-info">
      <div class="span12 well">
        <div class="title" >
          <button type="button" class="btn btn-default">      
            Color Bio
          </button>
        </div>
        <div class="well-content" style="height:250px;">
          <div class="color-container">
             <div class="color" style="background-color:rgb(
              <%=colorObj.RrgbValue%>,
              <%=colorObj.GrgbValue%>,
              <%=colorObj.BrgbValue%>
             )"></div>
          </div>
          <div class="color-description">
            <%= colorObj.colorName %> is an awesome color!
          </div>
        </div>
      </div>
    </div>




