  <!--  Module - Color Chart - "Google Bar Chart" -->

    <div class="container-fluid" id="colorchart">
      <div class="span12 well">
        <div class="title" >
          <button type="button" class="btn btn-default">      
            Color Frequency Bar Chart
          </button>
        </div>
        <div class="well-content">
          <div id="chart"></div>
        </div>
      </div>
    </div>