<!--  Module - Color Palette - "Shows what Colors are most used in a grid/table format" -->
     <div class="container-fluid" id="color-gradient">
      <div class="span12 well">
        <div class="title" >
          <button type="button" class="btn btn-default">   
            Color Gradient
          </button>
        </div>
        <div class="well-content">
        </div>
      </div>
    </div>