<!--  Module - Logo Cloud - "Shows a Cloud of Logos associated to the Brand, Attribute, Industry, Color"  -->
     <div class="container-fluid" id="logocloud">
      <div class="span12 well">
        <div class="title" >
          <button type="button" class="btn btn-default">      
            Industry Logo Cloud
          </button>
        </div>
        <div class="well-content">
         <div class="logoCloudFilter">
            <a href="#" data-filter=".firstdecile">1 - 20</a>
            <a href="#" data-filter=".secondquartile">21 - 40</a>
            <a href="#" data-filter=".thirdquartile">41 - 60</a>
            <a href="#" data-filter=".fourthquartile">61 - 80</a>
            <a href="#" data-filter=".fourthquartile">81 - 100</a>
        </div>
          <div class="logoCloudContainer">
            <% for(var i=0; i<industryResult.length; i++){ %>
                <div class='first' style='float:left;width:150px;height:150px'>
                  <%if(typeof industryResult[i].logoFileName !== 'undefined'){%>
                    <img class='logo' src="../logos/<%=industryResult[i].logoFileName%>" >
                  <%}%>
                  </p>
                </div>
              <%}%>
            </div>
          </div>
        </div>
      </div>


