 <!--  Module - Top Industries Using Color - "Icons Representing Industries and Percentages" -->
    <div class="container-fluid" id="industriesTop">
      <div class="span12 well">
        <div class="title" >
          <button type="button" class="btn btn-default">     
            Top Industries
          </button>
        </div>
        <div class="well-content">
           <ul id="industriesTop-data">
            <li>
              <div>
                <img src="../img/icons/industries/computer.png">
              </div>
              <span class="industry">Computing</span>
              <div class="percentage">45%</div>
            </li>
            <li>
              <div>
                <img src="../img/icons/industries/software.png">
              </div>
              <span class="industry">Software</span>
              <div class="percentage">34%</div>
            </li>
            <li>
              <div>
                <img src="../img/icons/industries/biotech.png">
              </div>
              <span class="industry">Biotech</span>
              <div class="percentage">23%</div>
            </li>
          </ul>
        </div>
      </div>
    </div>