<!--  Module - Map - "Shows a Map and Attribtues Associated to Top Colors"  -->
    <div class="container-fluid" id="geomap" style="width:45%;float:left;margin-right:10px;margin-bottom:-20px;">
      <div class="span12 well">
        <div class="title" >
          <button type="button" class="btn btn-default">      
            Color Attributes Worldwide
          </button>
            <span class="pull-right muted">
              <div class="tooltips">
              </div>
            </span>
        </div>
        <!-- Content - Google Map -->
        <div class="well-content" style="height:460px;">
          <div id='map-canvas' style="border:0;height:420px;frameborder:0"></div>
          <div style="width:100%">
            <div style="float:left;background-color:#ccc;width:40px;height:40px;"></div>
            <div style="float:left;width:15%;font-size:12px;line-height:12px;font-weight:700;">
             <ul style="margin-left: 10px;
font-size: 9px!important;
font-size: 12px;
line-height: 15px;
font-weight: 700;
margin-top: -7px;border-right: 1px solid #E6E6E6;margin-right: 10px;">
                <li>Serence</li>
                 <li>Sterile</li>
                  <li>Silence</li>
                   <li>Naive</li>
              </ul>
            </div>
            <div style="float:left;background-color:#ddd;width:40px;height:40px;"></div>
            <div style="float:left;width:40%;font-size:12px;line-height:12px;font-weight:700;">
               <ul style="margin-left:10px;font-size: 9px!important;
font-size: 12px;
line-height: 15px;
font-weight: 700;
margin-top: -7px;">
                <li>Cool</li>
                 <li>Leadership</li>
                  <li>Brilliant</li>
                   <li>Meaningful</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
