<!--  Module - Logo Cloud - "Shows a Cloud of Logos associated to the Brand, Attribute, Industry, Color"  -->
     <div class="container-fluid" id="logocloud">
      <div class="span12 well">
        <div class="title" >
          <button type="button" class="btn btn-default">      
            Logo Cloud
          </button>
        </div>
        <div class="well-content">
          <div class="logoCloudContainer" style="height:100%!important;overflow-x:hidden!important;">
            <% for(var i=0; i<industryResult.length; i++){ 
            %>
            <%if(typeof industryResult[i].logoFileName !== 'undefined' && industryResult[i].logoFileName !== ''){%>
                <div class='first'>
                  <a href="/brand/<%=industryResult[i].shortName%>">
                    <img class='logo' src="http://s3.amazonaws.com/hue-storage/HueBrand/logos/<%=industryResult[i].logoFileName%>" >
                  </a>
                  
                </div>
              <%}}%>
            </div>
          </div>
        </div>
      </div>


