 <!--  Module - Top Industries Using Color - "Icons Representing Industries and Percentages" -->
    <div class="container-fluid" id="industriesTop">
      <div class="span12 well">
        <div class="title" >
          <button type="button" class="btn btn-default">     
            Top Industries
          </button>
        </div>
        <div class="well-content">
           <ul id="industriesTop-data">
            <%for(var key in topIndustries){
              var iconName = queryName.key.split(' ').join('_').toLowerCase()
            %>
            <li>
              <div>
                <img src="../img/icons/industries/<%=iconName%>.png">
              </div>
              <span class="industry"><%=topIndustries[key].key%></span>
              <div class="percentage"><%=topIndustries[key].freq%>%</div>
            </li>
            <%}%>

          </ul>
        </div>
      </div>
    </div>