<!--  Module - Map - "Shows a Map and Attribtues Associated to Top Colors"  -->
<!--
    var mapTitle = '';
    if(queryType == 'brand'){
      mapTitle = brandResult.shortName + ' Color Attributes Worldwide';
    }
    else if(queryType == 'color'){
      mapTitle = colorResult.colorName + ' Attributes Associations Worldwide';
    }
    else if(queryType == 'attribute'){
      mapTitle = attributeResult.attributeName + ' Color Associations Worldwide';
    }
    else if(queryType == 'industry'){
      mapTitle = industryResult.industryName + ' Attribute Associations WorldWide'
    }
    -->

    <div class="container-fluid" id="geomap" style="width:35%;float:left;margin-right:2%;margin-bottom:-20px;">
      <div class="span12 well">
        <div class="title" >
          <button type="button" class="btn btn-default">      
            Map Title <!--    mapTitle  -->
          </button>
        </div>
        <!-- Content - Google Map -->
        <div class="well-content" style="height:250px;">
          <div id='map-canvas' style="border:0;height:230px;frameborder:0"></div>
            <div style="width:100%">
              <div style="float:left;background-color:#903D3D;margin-top:2px;width:15px;height:15px;margin-left:5px;"></div>
              <div style="padding-left:5px;padding-right:5px;float:left;font-size:12px;line-height:12px;font-weight:700;padding-top:3px;">
                <span style="font-size: 8px;font-family: 'Nunito';text-transform: uppercase;margin-top: 10px;">
                  <span style="border: 1px solid rgba(119, 119, 119,0.2);border-radius: 5px;background-color: #fff;color: rgb(119, 119, 119);padding: 2px;margin-top: 10px;margin-right: 5px;padding-left: 5px;padding-right: 5px;">
                    1. Amazing
                  </span>
                  <span style="border: 1px solid rgba(119, 119, 119,0.2);border-radius: 5px;background-color: #fff;color: rgb(119, 119, 119);padding: 2px;margin-top: 10px;margin-right: 5px;padding-left: 5px;padding-right: 5px;">
                    2. Beautiful
                  </span> 
                  <span style="border: 1px solid rgba(119, 119, 119,0.2);border-radius: 5px;background-color: #fff;color: rgb(119, 119, 119);padding: 2px;margin-top: 10px;margin-right: 5px;padding-left: 5px;padding-right: 5px;">
                    3. Happy
                  </span>
                  <span style="border: 1px solid rgba(119, 119, 119,0.2);border-radius: 5px;background-color: #fff;color: rgb(119, 119, 119);padding: 2px;margin-top: 10px;margin-right: 5px;padding-left: 5px;padding-right: 5px;">
                    4. Love
                  </span>
                </span>
              </div>
              <div style="float:left;background-color:#903D3D;margin-top:2px;width:15px;height:15px;"></div>
              <div style="padding-left:5px;padding-right:5px;float:left;font-size:10px;padding-top:3px;line-height:12px;font-weight:700;">
                <span style="font-size:7px;font-family:'Nunito';text-transform:uppercase;margin-top:10px;">
                   <span style="border: 1px solid rgba(119, 119, 119,0.2);border-radius: 5px;background-color: #fff;color: rgb(119, 119, 119);padding: 2px;margin-top: 10px;margin-right: 5px;padding-left: 5px;padding-right: 5px;">
                    1. Amazing
                  </span>
                  <span style="border: 1px solid rgba(119, 119, 119,0.2);border-radius: 5px;background-color: #fff;color: rgb(119, 119, 119);padding: 2px;margin-top: 10px;margin-right: 5px;padding-left: 5px;padding-right: 5px;">
                    2. Beautiful
                  </span> 
                  <span style="border: 1px solid rgba(119, 119, 119,0.2);border-radius: 5px;background-color: #fff;color: rgb(119, 119, 119);padding: 2px;margin-top: 10px;margin-right: 5px;padding-left: 5px;padding-right: 5px;">
                    3. Happy
                  </span>
                  <span style="border: 1px solid rgba(119, 119, 119,0.2);border-radius: 5px;background-color: #fff;color: rgb(119, 119, 119);padding: 2px;margin-top: 10px;margin-right: 5px;padding-left: 5px;padding-right: 5px;">
                    4. Love
                  </span>
                </span>
              </div>
            </div>
          </div>
      </div>
    </div>
