<!--  Module - Color Palette - "Shows what Colors are most used in a grid/table format" -->
     <div class="container-fluid" id="colorpalette">
      <div class="span12 well">
        <div class="title" >
          <button type="button" class="btn btn-default">   
            Yellows used across Industry
          </button>
            <span class="pull-right muted">
              <div class="tooltips">
              </div>
            </span>
        </div>
        <div class="well-content">
            <!-- Row 1 - Color 1 -->  
              <div id="box-1" class="box" style="background-color: #EEC900;">
                  <span class="caption simple-caption">
                    <span class="colorname">
                      <center>Gold</center>
                    </span>
                    <span class="colormoreinfo">
                      <ul>
                        <li>
                          <span style="font-weight: 500;">RGB:</span> 123, 12, 40
                        </li>
                        <li>
                          <span style="font-weight: 500;">HEX:</span> #201931
                        </li>
                        <li>
                          <span style="font-weight: 500;">HSV:</span> 12, 31, 21, 0.1
                        </li>
                      </ul>
                    </span>
                  </span>
              </div>
           <!-- Row 1 - Color 2 -->  
              <div id="box-1" class="box" style="background-color: #FFE303;">
                  <span class="caption simple-caption">
                    <span class="colorname">
                      <center>Cadmium Yellow</center>
                    </span>
                    <span class="colormoreinfo">
                      <ul>
                        <li>
                          <span style="font-weight: 500;">RGB:</span> 123, 12, 40
                        </li>
                        <li>
                          <span style="font-weight: 500;">HEX:</span> #201931
                        </li>
                        <li>
                          <span style="font-weight: 500;">HSV:</span> 12, 31, 21, 0.1
                        </li>
                      </ul>
                    </span>
                 </span>
              </div>
          <!-- Row 1 - Color 3 -->  
            <div id="box-1" class="box" style="background-color: #FBEC5D;">
                  <span class="caption simple-caption">
                    <span class="colorname">
                      <center>Corn</center>
                    </span>
                    <span class="colormoreinfo">
                      <ul>
                        <li>
                          <span style="font-weight: 500;">RGB:</span> 123, 12, 40
                        </li>
                        <li>
                          <span style="font-weight: 500;">HEX:</span> #201931
                        </li>
                        <li>
                          <span style="font-weight: 500;">HSV:</span> 12, 31, 21, 0.1
                        </li>
                      </ul>
                    </span>
                  </span>
              </div>
         
            <!-- Row 1 - Color 1 -->  
                <div id="box-1" class="box" style="background-color: #fff;">
                
              </div>
           <!-- Row 1 - Color 2 -->  
              <div id="box-1" class="box" style="background-color: #F0E68C;">
                  <span class="caption simple-caption">
                    <span class="colorname">
                      <center>Khaki</center>
                    </span>
                    <span class="colormoreinfo">
                      <ul>
                        <li>
                          <span style="font-weight: 500;">RGB:</span> 123, 12, 40
                        </li>
                        <li>
                          <span style="font-weight: 500;">HEX:</span> #201931
                        </li>
                        <li>
                          <span style="font-weight: 500;">HSV:</span> 12, 31, 21, 0.1
                        </li>
                      </ul>
                    </span>
                 </span>
              </div>
          <!-- Row 1 - Color 3 -->  
            <div id="box-1" class="box" style="background-color: #FFFF7E;">
                  <span class="caption simple-caption">
                    <span class="colorname">
                      <center>Papaya</center>
                    </span>
                    <span class="colormoreinfo">
                      <ul>
                        <li>
                          <span style="font-weight: 500;">RGB:</span> 123, 12, 40
                        </li>
                        <li>
                          <span style="font-weight: 500;">HEX:</span> #201931
                        </li>
                        <li>
                          <span style="font-weight: 500;">HSV:</span> 12, 31, 21, 0.1
                        </li>
                      </ul>
                    </span>
                  </span>
              </div>
         
            <!-- Row 1 - Color 1 -->  
               <div id="box-1" class="box" style="background-color: #fff;border-bottom: 1px solid rgb(233, 233, 233);">
                 
              </div>
           <!-- Row 1 - Color 2 -->  
               <div id="box-1" class="box" style="background-color: #fff;border-bottom: 1px solid rgb(233, 233, 233);">
                  
              </div>
          <!-- Row 1 - Color 3 -->  
            <div id="box-1" class="box" style="background-color: #FCDC3B;border-bottom: 1px solid rgb(233, 233, 233);">
                  <span class="caption simple-caption">
                    <span class="colorname">
                      <center>Pineapple</center>
                    </span>
                    <span class="colormoreinfo">
                      <ul>
                        <li>
                          <span style="font-weight: 500;">RGB:</span> 123, 12, 40
                        </li>
                        <li>
                          <span style="font-weight: 500;">HEX:</span> #201931
                        </li>
                        <li>
                          <span style="font-weight: 500;">HSV:</span> 12, 31, 21, 0.1
                        </li>
                      </ul>
                    </span>
                  </span>
              </div>
           <div style="width:100%;height:30px;float:left;margin-top:10px;font-weight:700;font-size:15px;color:#000;">
             <span style="width:25%;float:left;text-align:center;">Most Used</span>
             <span style="width:12.5%;float:left;text-align:center;">></span>
             <span style="width:25%;float:left;text-align:center;">Often Used</span> 
             <span style="width:12.5%;float:left;text-align:center;">></span>
             <span style="width:25%;float:left;text-align:center;">Rarely Used</span>
           </div>

        </div>
      </div>
    </div>