 <!--  Module - Top Industries Using Color - "Large Icons Representing Industries and Percentages" -->
    <div class="container-fluid" id="topindustries" style="width:10%;float:left;margin-right:2%;margin-left:2%;">
      <div class="span12 well">
        <div class="title" >
          <button type="button" class="btn btn-default">     
            Top Industries
          </button>
            <span class="pull-right muted">
              <div class="tooltips">
                <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="" data-original-title="Information on the Top Industries with Attributes">
                </button>
              </div>
            </span>
        </div>
        <div class="well-content" style="height:250px;overflow-x: none;">
           <ul id="topindustries-data" style="overflow-y: scroll;overflow-x: none;height: 250px;">
            <li>
              <div>
                <img src="../img/icons/industries/computer.png">
              </div>
              <span style="font-size:22px;">Computing</span>
              <div style="font-weight:100;font-size:12px;">45%</div>
            </li>
            <li>
              <div>
                <img src="../img/icons/industries/software.png">
              </div>
              <span style="font-size:22px;">Software</span>
              <div style="font-weight:100;font-size:12px;">34%</div>
            </li>
            <li>
              <div>
                <img src="../img/icons/industries/biotech.png">
              </div>
              <span style="font-size:22px;">Biotech</span>
              <div style="font-weight:100;font-size:12px;">23%</div>
            </li>
          </ul>
        </div>
      </div>
    </div>