 <!--  Module - Top Industries Using Color - "Icons Representing Industries and Percentages" -->
    <div class="container-fluid" id="industriesTop">
      <div class="span12 well">
        <div class="title" >
          <button type="button" class="btn btn-default">     
            Top 3 Industries
          </button>
        </div>
        <div class="well-content">
           <ul id="industriesTop-data">
          <%if(topIndustries.length>0){
            for(var i=0; i<topIndustries.length;i++){
              var iconName = topIndustries[i].key.split(' ').join('_').toLowerCase()
            %>
            <li>
              <div>
                <img src="../img/icons/industries/<%=iconName%>.png">
              </div>
              <div class="industry"><%=topIndustries[i].key%></div>
              <div class="percentage"><%=topIndustries[i].freq%>%</div>
            </li>
            <%}}%>

          </ul>
        </div>
      </div>
    </div>