<!--  Module - Logo Cloud - "Shows a Cloud of Logos associated to the Brand, Attribute, Industry, Color"  -->
     <div class="container-fluid" id="logocloud" >
      <div class="span12 well">
        <div class="title" >
          <button type="button" class="btn btn-default">      
            Industry Logo Cloud
          </button>
            <span class="pull-right muted">
              <div class="tooltips">
              </div>
            </span>
        </div>
        <div class="well-content" style="height:280px;">
         <div class="logoCloudFilter" style="margin-top: 20px;">
            <a href="#" data-filter="*" class="current" style="margin-left: 20px;">All Market Caps</a>
            <a href="#" data-filter=".first">5B+</a>
            <a href="#" data-filter=".second">1B - 5B</a>
            <a href="#" data-filter=".third">500M - 1B</a>
            <a href="#" data-filter=".fourth">0-500M</a>
        </div>
          <div class="logoCloudContainer">
            <% for(var i=0; i<industryResult.length; i++){ %>
              <% if(industryResult[i].shortName!==brandResult.shortName){ %>
                <div class='first' >
                  <%if(typeof industryResult[i].logoFileName !== 'undefined'){%>
                    <img class='logo' src="../Logos/<%=industryResult[i].logoFileName%>" width='250px'>
                  <%}%>
                  </p>
                </div>
              <%}}%>
            </div>
          </div>
        </div>
      </div>


