 <!--  Module - Top Industries Using Color - "Large Icons Representing Industries and Percentages" -->
    <div class="container-fluid" id="topindustries" style="width:10%;float:left;margin-right:10px;height:570px;"">
      <div class="span12 well">
        <div class="title" >
          <button type="button" class="btn btn-default">     
            Top Industries
          </button>
            <span class="pull-right muted">
              <div class="tooltips">
                <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="" data-original-title="Information on the Top Industries with Attributes">
                </button>
              </div>
            </span>
        </div>
        <div class="well-content" style="height:500px;">
           <ul id="topindustries-data">
            <li style="margin-left: 44px;
margin-bottom: 50px;
">
              <div>
                <img src="../img/icons/industries/computer.png">
              </div>
              Computing
              <div style="font-weight:700;font-size:25px;">45%</div>
            </li>
            <li style="margin-left: 44px;
margin-bottom: 50px;
">
              <div>
                <img src="../img/icons/industries/software.png">
              </div>
              Software
              <div style="font-weight:700;font-size:25px;">34%</div>
            </li>
            <li style="margin-left: 44px;
margin-bottom: 50px;
">
              <div>
                <img src="../img/icons/industries/biotech.png">
              </div>
              Biotechnology
              <div style="font-weight:700;font-size:25px;">23%</div>
            </li>
          </ul>
        </div>
      </div>
    </div>