<!--  Module - Color Combinations - "Primary and Secondary Color Combinations Chart" -->
    <div class="container-fluid" id="color-combinations">
      <div class="span12 well">

        <div class="title">
          <button type="button" class="btn btn-default">      
            Primary and Secondary Color Combinations Chart
          </button>
        </div>
      
      <div class="well-content">

        <div class="color-combinations-container">
    
          <div class="color-combinations-primary">      
            <div class="combination-box" style="background-color: #FDFD3D;">
              <span class="caption fade-caption">
                <p>50%</p>
              </span>
            </div>
          </div>

          <div class="color-combinations-secondary">

            <div class="combination-box" style="margin-bottom:3%;height: 7%;background-color:#eee;"> 
              <span class="caption fade-caption">
                  <p>20%</p>
              </span>
            </div>

            <div class="combination-box" style="margin-bottom:3%;height: 57%;background-color:#B15353;">
              <span class="caption fade-caption">
                  <p>30%</p>
              </span>
            </div>

            <div class="combination-box" style="height: 30%;background-color:#ggg;">
              <span class="caption fade-caption">
                  <p>40%</p>
              </span>
            </div>

        </div>
      </div>
    </div>
  </div>
</div>
