<!--  Module - Color Palette - "Shows what Colors are most used in a grid/table format" -->
     <div class="container-fluid" id="colorpalette"  style="width:10%;float:left;margin-right:2%;margin-left:2%;height:270px;overflow:hidden;">
      <div class="span12 well">
        <div class="title" >
          <button type="button" class="btn btn-default">   
            Color Gradient
          </button>
            <span class="pull-right muted">
              <div class="tooltips">
              </div>
            </span>
        </div>
        <div class="well-content" style="height:250px;background-image: -webkit-gradient(linear, right top, right bottom, color-stop(0.01, #ff0000), color-stop(0.08, #ff0088), color-stop(0.16, #ff00ff), color-stop(0.24, #8800ff), color-stop(0.32, #0000ff), color-stop(0.40, #0088ff), color-stop(0.48, #00ffff), color-stop(0.56, #00ff88), color-stop(0.64, #00ff00), color-stop(0.72, #88ff00), color-stop(0.80, #ffff00), color-stop(0.88, #ff8800), color-stop(0.99, #ff0000))">
           

        </div>
      </div>
    </div>