  <!--  Module - Color Chart - "Google Bar Chart" -->

    <div class="container-fluid" id="colorchart" style="float:left;margin-right:2%;width:30.66%;">
      <div class="span12 well">
        <div class="title" >
          <button type="button" class="btn btn-default">      
            Color Combinations
          </button>
            <span class="pull-right muted">
              <div class="tooltips">
              </div>
            </span>
        </div>
        <div class="well-content" style="height: 250px;overflow: hidden;">
          <div id="chart" style="width: 140%;height: 140%;margin-top:-50px;position: relative;margin-left: -60px;padding: 5%;"></div>
        </div>
      </div>
    </div>