<!--  Module - Top Colors - "Shows the Top Colors" -->

     <div class="container-fluid" id="colorTop">

      <div class="span12 well">
        <div class="title" >
          <button type="button" class="btn btn-default">      
            Top Colors
          </button>
        </div>

        <div class="well-content">

          <div class="colorTop-container">    
          <div style="float:left;width:50%;">
            <div class="colorTop-color" style="background-color: #903D3D;"></div>
            <div class="colorTop-percentage">50%</div>
          </div>
          <div style="float:left;width:30%;">    
            <div class="colorTop-color" style="background-color: #3D9077;"></div>
            <div class="colorTop-percentage">30%</div>
          </div>
          <div style="float:left;width:20%;">    
            <div class="colorTop-color" style="background-color: #8AB0DC;"></div>
            <div class="colorTop-percentage">20%</div>
          </div>
          </div>

          <div class="color-table">
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr style="font-weight:700;">
                    <th>Yellow</th>
                    <th>%</th>
                    <th>RGB</th>
                    <th>HEX</th>
                    <th>HSV</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td style="background-color:#ffee77;width:80px;"></td>
                    <td>25%</td>
                    <td>125,11,10</td>
                    <td>#193101</td>
                    <td>360°,20%,19%</td>
                  </tr>
                </tbody>
              </table>    
            </div>
          </div>
        </div>
      </div>
    </div>