<!--  Module - Map - "Shows a Map and Attribtues Associated to Top Colors"  -->
  <%
    var mapTitle = '';
    if(queryType == 'brand'){
      mapTitle = brandResult.shortName + ' Color Attributes Worldwide';
    }
    else if(queryType == 'color'){
      mapTitle = colorResult.colorName + ' Attributes Associations Worldwide';
    }
    else if(queryType == 'attribute'){
      mapTitle = attributeResult.attributeName + ' Color Associations Worldwide';
    }
    else if(queryType == 'industry'){
      mapTitle = industryResult.industryName + ' Attribute Associations WorldWide'
    }
  %>

    <div class="container-fluid" id="geomap" style="width:45%;float:left;margin-right:10px;margin-bottom:-20px;">
      <div class="span12 well">
        <div class="title" >
          <button type="button" class="btn btn-default">      
            <%= mapTitle %>
          </button>
            <span class="pull-right muted">
              <div class="tooltips">
              </div>
            </span>
        </div>
        <!-- Content - Google Map -->
        <div class="well-content" style="height:460px;">
          <div id='map-canvas' style="border:0;height:420px;frameborder:0"></div>
          <div style="width:100%">
            <div style="float:left;background-color:#ccc;width:40px;height:40px;"></div>
            <div style="padding-top:15px;padding-left:10px;padding-right:10px;float:left;font-size:12px;line-height:12px;font-weight:700;">
            <span style="font-size:9px;font-family:'Nunito';text-transform:uppercase;">

<span style="margin-top:30px;border:1px solid #ccc;padding:5px;border-radius:5px;background-color:#fff;color:#000;">1. Brand</span>

<span style="margin-top:10px;border:1px solid #ccc;padding:5px;border-radius:5px;background-color:#fff;color:#000;">2. Industry</span>

<span style="margin-top:10px;border:1px solid #ccc;padding:5px;border-radius:5px;background-color:#fff;color:#000;">3. Attribute</span>

<span style="margin-top:10px;border:1px solid #ccc;padding:5px;border-radius:5px;background-color:#fff;color:#000;">4. Color</span>

</span>
            </div>
            <div style="float:left;background-color:#ccc;width:40px;height:40px;"></div>
            <div style="padding-top:15px;padding-left:10px;padding-right:10px;float:left;font-size:12px;line-height:12px;font-weight:700;">
            <span style="font-size:9px;font-family:'Nunito';text-transform:uppercase;">

<span style="margin-top:30px;border:1px solid #ccc;padding:5px;border-radius:5px;background-color:#fff;color:#000;">1. Brand</span>

<span style="margin-top:10px;border:1px solid #ccc;padding:5px;border-radius:5px;background-color:#fff;color:#000;">2. Industry</span>
 
<span style="margin-top:10px;border:1px solid #ccc;padding:5px;border-radius:5px;background-color:#fff;color:#000;">3. Attribute</span>

<span style="margin-top:10px;border:1px solid #ccc;padding:5px;border-radius:5px;background-color:#fff;color:#000;">4. Color</span>

</span>
            </div>
          </div>
        </div>
      </div>
    </div>
