<!--  Module - Logo Cloud - "Shows a Cloud of Logos associated to the Brand, Attribute, Industry, Color"  -->
     <div class="container-fluid" id="logocloud" style="width:41%;float:left;">
      <div class="span12 well">
        <div class="title" >
          <button type="button" class="btn btn-default">      
            Industry Logo Cloud
          </button>
            <span class="pull-right muted">
              <div class="tooltips">
              </div>
            </span>
        </div>
        <div class="well-content" style="height:460px;margin-bottom: -20px; ">
         <div class="logoCloudFilter" style="margin-top: 20px;">
            <a href="#" data-filter=".firstquartile"  style="margin-left: 20px;">1 - 25</a>
            <a href="#" data-filter=".secondquartile">26 - 50</a>
            <a href="#" data-filter=".thirdquartile">51 - 75</a>
            <a href="#" data-filter=".fourthquartile">76 - 100</a>
        </div>
          <div class="logoCloudContainer">
            <% for(var i=0; i<industryResult.length; i++){ %>
              <% if(industryResult[i].shortName!==brandResult.shortName){ %>
                <div class='first' >
                  <%if(typeof industryResult[i].logoFileName !== 'undefined'){%>
                    <img class='logo' src="../Logos/<%=industryResult[i].logoFileName%>" width='250px'>
                  <%}%>
                  </p>
                </div>
              <%}}%>
            </div>
          </div>
        </div>
      </div>


