<!--  Module - Top Colors - "Shows the Top 3 Colors" -->
     <div class="container-fluid" id="topcolors"  style="float:left;margin-right:2%;width:30.66%;">
      <div class="span12 well">
        <div class="title" >
          <button type="button" class="btn btn-default">      
            Top 3 Colors
          </button>
            <span class="pull-right muted">
              <div class="tooltips">
              </div>
            </span>
        </div>
        <div class="well-content" style="padding: 5%;
padding-top: 5%;
height: 250px">
            <!-- Row 1 - Color 1 -->  
              <div id="box-1" class="box" style="width:50%;height:110px;background-color: #903D3D;">
              </div>
           

           <!-- Row 1 - Color 2 -->  
              <div id="box-1" class="box" style="width:30%;height:110px;background-color: #3D9077;">
              </div>


          <!-- Row 1 - Color 3 -->  
              <div id="box-1" class="box" style="width:20%;height:110px;background-color: #8AB0DC;">
              </div>

              <div style="height:30px;width:50%;padding:5px;font-weight:700;text-align:center;float:left;border-bottom: 1px solid rgba(0, 0, 0, 0.16);
border-left: none;
border-right: 1px solid rgba(0,0,0,0.16);">
              50%
              </div>
              <div style="height:30px;width:30%;padding:5px;font-weight:700;text-align:center;float:left;border-bottom: 1px solid rgba(0, 0, 0, 0.16);
border-left: none;
border-right: 1px solid rgba(0,0,0,0.16);">
              30%
              </div>
              <div style="height:30px;width:20%;padding:5px;font-weight:700;text-align:center;float:left;border-bottom: 1px solid rgba(0, 0, 0, 0.16);
border-left: none;">
              20%
              </div>

        <div style="width:100%;padding-left:10px;">
          <div style="background-color: #903D3D;margin-top: 10px;float:left;width:40px;height:40px;"></div>
          <div style="float:left;background-color:#000;width:50px;">
          </div>
          <div style="float: left;
width: 200px;
padding-top: 20px;
padding-left: 10px;
font-size: 20px;border-right:1px solid #eee;padding-bottom: 14px;">
            <span style="font-weight:700">Color Name:</span> <span style="font-size: 17px;">Red</span>
          </div>
          <div style="float: left;
width: 200px;
padding-top: 20px;
padding-left: 10px;
font-size: 20px;border-right:1px solid #eee;padding-bottom: 14px;">
            <span style="font-weight:700">Percentage:</span> <span style="font-size: 17px;">30.51%</span>
          </div>
          <div style="float: left;
width: 240px;
padding-left: 10px;
font-size: 20px;">
            <span style="font-weight: 700;
float: left;
padding-top: 20px;
padding-right: 20px;">Values:</span> 
            <div style="font-size: 14px;
width: 119px;
float: left;
line-height: 17px;
padding-top: 4px;">
              <div>RGB: 111,121,201</div>
              <div>Hex: #507192</div>
              <div>HSL: 0, 100%, 50%</div>
            </div>
          </div>
   
        </div>
        </div>

      </div>
    </div>