    <!--  Module - Industry Information - "Large Icon showing the Industry and Additional Information on it"-->
     <div class="container-fluid" id="colorinfo">
      <div class="span12 well">
        <div class="title" >
          <button type="button" class="btn btn-default">      
            Industry Info
          </button>
            <span class="pull-right muted">
              <div class="tooltips">
              </div>
            </span>
        </div>
        <div class="well-content" style="height:250px;">
          <div style="height:150px;width:150px;float:left;margin-right:20px;margin-top:20px;margin-left:20px;">
            <img style="height:100%;width:100%;" src="../img/icons/industries/computer.png">
          </div>
          <div style="margin-top:20px;float:left;height:250px;width:400px;">
            Computing is any goal-oriented activity requiring, benefiting from, or creating computers. For example, computing includes designing, developing and building hardware and software systems; processing, structuring, and managing various kinds of information; doing scientific research on and with computers;
          </div>
        </div>
      </div>
    </div>