    <!--  Module - Industry Information - "Large Icon showing the Industry and Additional Information on it"-->
     <div class="container-fluid" id="industry-info">
      <div class="span12 well">
        <div class="title" >
          <button type="button" class="btn btn-default">      
            Industry Info
          </button>
        </div>
        <div class="well-content" style="height:250px;">
          <div class="industry-icon-container">
            <center>
              <%
                var iconName = queryName.split(' ').join('_').toLowerCase()
              %>
            <img style="height:70%;width:100px;" src="../img/icons/industries/<%=iconName%>.png">
            </center>
             <div class="industry-title">
              <%
                var capQueryName = queryName.charAt(0).toUpperCase() + queryName.slice(1)
              %>
              <%=capQueryName%>
            </div>
          </div>
          <div class="industry-description">
            <%=industryDescription%></div>
        </div>
      </div>
    </div>