  <!--  Module - Color Pie Chart - "Pie Chart and Legend showing the Percentage of Color Used" -->

    <div class="container-fluid" id="colorchart" style="float:left;margin-right:2%;width:30.66%;">
      <div class="span12 well">
        <div class="title" >
          <button type="button" class="btn btn-default">      
            Color Combinations
          </button>
            <span class="pull-right muted">
              <div class="tooltips">
              </div>
            </span>
        </div>
        <div class="well-content" style="height: 250px;
overflow: hidden;">
         <div id="piechart" style="width: 130%;
height: 140%;
margin-top:-60px;
position: relative;
margin-left: -50px;
padding: 5%;
"></div>
        </div>
      </div>
    </div>