  <!--  Module - Color Pie Chart - "Pie Chart and Legend showing the Percentage of Color Used" -->

    <div class="container-fluid" id="colorchart" style="float: left;
width: 32%;">
      <div class="span12 well">
        <div class="title" >
          <button type="button" class="btn btn-default">      
            Color Combinations
          </button>
            <span class="pull-right muted">
              <div class="tooltips">
              </div>
            </span>
        </div>
        <div class="well-content" style="height: 300px;
overflow: hidden;">
         <div id="piechart" style="width: 120%;
height: 130%;
position: relative;
margin-left: -50px;
margin-top: -55px;
"></div>
        </div>
      </div>
    </div>