<!--  Module - Company Brand Attributes  -->
<div class="container-fluid" id="topattributes">
  <div class="span12 well">
    <div class="title" >
      <button type="button" class="btn btn-default">      
        Company Brand Attributes
      </button>
        <span class="pull-right muted">
          <div class="tooltips">
            <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="" data-original-title="Information on the Top Color Attribute Associations">
              <i class="fa fa-info-circle"></i>
            </button>
          </div>
        </span>
    </div>
    <div class="well-content">
      <ul id="topattributes-data">
        <li>Beautiful</li>
        <li>Intelligent</li>
        <li>Heart-warming</li>
        <li>Enthusiastic</li>
        <li>Energetic</li>
      </ul>
    </div>
  </div>
</div>