<!--  Module - Industry ColorGeo Map -->
    <div class="container-fluid" id="geomap">
      <div class="span12 well">
        <div class="title" >
          <button type="button" class="btn btn-default">      
            Industry ColorGeo Map
          </button>
            <span class="pull-right muted">
              <div class="tooltips">
              </div>
            </span>
        </div>
        <!-- Content - Google Map -->
        <div class="well-content">
          <div id='map-canvas' style="border:0;height:500px;frameborder:0"></div>
        </div>
      </div>
    </div>
