<!--  Module - Company Logo  -->
     <div class="container-fluid" id="companylogo">
      <div class="span12 well">
        <div class="title" >
          <button type="button" class="btn btn-default">      
            Company Logo
          </button>
            <span class="pull-right muted">
              <div class="tooltips">
                <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="" data-original-title="This is the Company's latest Logo extracted from the web">
                  <i class="fa fa-info-circle"></i>
                </button>
              </div>
            </span>
        </div>
        <div class="well-content">
          <div id="companylogo-box">
            <img id="logo" src="../Logos/<%= brandResult.logoFileName%>">
          </div>
          <div style="width: 100%;text-align: center;">
            <a href="../Logos/<%= brandResult.logoFileName%>" download="<%= brandResult.logoFileName%>">
              <button id="buttondownload">
                <div>
                  <i class="fa fa-download"></i>
                  Download <%= brandResult.shortName %>'s Original Logo
                </div> 
                <div id="logopixels" style="font-size:8px">
                </div>
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>