<!--  Module - Company Brand Manual -->
    <div class="container-fluid" id="companybrandmanual">
      <div class="span12 well">
        <div class="title" >
          <button type="button" class="btn btn-default">      
            Company Brand Manual
          </button>
            <span class="pull-right muted">
              <div class="tooltips">
              </div>
            </span>
        </div>
        <div class="well-content">
        
        </div>
      </div>
    </div>