<!--  Module - Industry Logo Cloud  -->
     <div class="container-fluid" id="logocloud" >
      <div class="span12 well">
        <div class="title" >
          <button type="button" class="btn btn-default">      
            Industry Logo Cloud
          </button>
            <span class="pull-right muted">
              <div class="tooltips">
              </div>
            </span>
        </div>
        <div class="well-content">
         <div class="logoCloudFilter">
            <a href="#" data-filter="*" class="current">All Market Caps</a>
            <a href="#" data-filter=".first">5B+</a>
            <a href="#" data-filter=".second">1B - 5B</a>
            <a href="#" data-filter=".third">500M - 1B</a>
            <a href="#" data-filter=".fourth">0-500M</a>

          </div>

          <div class="logoCloudContainer">

            <% for(var i=0; i<industryResult.length; i++){ %>
                    <% if(industryResult[i].shortName!==brandResult.shortName){ %>
                    <div class='<% var calcMktCap = parseFloat(industryResult[i].marketCap/1000000).toFixed(2); %><%= calcMktCap %>M' >
                        <%if(typeof industryResult[i].logoFileName !== 'undefined'){%>
                        <img class='logo' src="../Logos/<%=industryResult[i].logoFileName%>" width='250px'>
                        <%}%>
                        </p>
                    </div>
                    <%}}%>
 
            
          </div>

          </div>
        </div>
      </div>