 <!--  Module - Top Industries Using Color  -->
    <div class="container-fluid" id="topindustries">
      <div class="span12 well">
        <div class="title" >
          <button type="button" class="btn btn-default">      
            <i class="fa fa-star"></i>
            Top Industries using Color
          </button>
            <span class="pull-right muted">
              <div class="tooltips">
                <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="" data-original-title="Information on the Top Industries with Attributes">
                  <i class="fa fa-info-circle"></i>
                </button>
              </div>
            </span>
        </div>
        <div class="well-content">
           <ul id="topindustries-data">
            <li>
              <div>
                <img src="../img/icons/industries/computer.png">
              </div>
              Computing
            </li>
            <li>
              <div>
                <img src="../img/icons/industries/software.png">
              </div>
              Software
            </li>
            <li>
              <div>
                <img src="../img/icons/industries/biotech.png">
              </div>
              Biotechnology
            </li>
          </ul>
        </div>
      </div>
    </div>