<!--  Module - Top 3 Colors  -->
     <div class="container-fluid" id="topcolors">
      <div class="span12 well">
        <div class="title" >
          <button type="button" class="btn btn-default">      
            Top 3 Colors
          </button>
            <span class="pull-right muted">
              <div class="tooltips">
              </div>
            </span>
        </div>
        <div class="well-content">
            <!-- Row 1 - Color 1 -->  
              <div id="box-1" class="box" style="background-color: #903D3D;">
                  <span class="caption simple-caption">
                    <span class="colorname">
                      <center>Midnight Red</center>
                    </span>
                    <span class="colormoreinfo">
                      <ul>
                        <li>
                          <span style="font-weight: 500;">RGB:</span> 123, 12, 40
                        </li>
                        <li>
                          <span style="font-weight: 500;">HEX:</span> #201931
                        </li>
                        <li>
                          <span style="font-weight: 500;">HSV:</span> 12, 31, 21, 0.1
                        </li>
                      </ul>
                    </span>
                  </span>
              </div>
           <!-- Row 1 - Color 2 -->  
              <div id="box-1" class="box" style="background-color: #3D9077;">
                  <span class="caption simple-caption">
                    <span class="colorname">
                      <center>Amazon Green</center>
                    </span>
                    <span class="colormoreinfo">
                      <ul>
                        <li>
                          <span style="font-weight: 500;">RGB:</span> 123, 12, 40
                        </li>
                        <li>
                          <span style="font-weight: 500;">HEX:</span> #201931
                        </li>
                        <li>
                          <span style="font-weight: 500;">HSV:</span> 12, 31, 21, 0.1
                        </li>
                      </ul>
                    </span>
                 </span>
              </div>
          <!-- Row 1 - Color 3 -->  
            <div id="box-1" class="box" style="background-color: #8AB0DC;">
                  <span class="caption simple-caption">
                    <span class="colorname">
                      <center>Light Blue</center>
                    </span>
                    <span class="colormoreinfo">
                      <ul>
                        <li>
                          <span style="font-weight: 500;">RGB:</span> 123, 12, 40
                        </li>
                        <li>
                          <span style="font-weight: 500;">HEX:</span> #201931
                        </li>
                        <li>
                          <span style="font-weight: 500;">HSV:</span> 12, 31, 21, 0.1
                        </li>
                      </ul>
                    </span>
                  </span>
              </div>
        </div>
      </div>
    </div>