    <!--  Module - Color Bio -->
     <div class="container-fluid" id="colorinfo">
      <div class="span12 well">
        <div class="title" >
          <button type="button" class="btn btn-default">      
            Color Bio
          </button>
            <span class="pull-right muted">
              <div class="tooltips">
              </div>
            </span>
        </div>
        <div class="well-content">
        
        </div>
      </div>
    </div>