    <!--  Module - Color Bio -->
     <div class="container-fluid" id="colorinfo">
      <div class="span12 well">
        <div class="title" >
          <button type="button" class="btn btn-default">      
            <i class="fa fa-bar-chart-o" style=""></i>
            Color Bio
          </button>
            <span class="pull-right muted">
              <div class="tooltips">
                <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="" data-original-title="Information on the Company Logo Colors">
                  <i class="fa fa-info-circle"></i>
                </button>
              </div>
            </span>
        </div>
        <div class="well-content">
          <table id="colorinfo-data">
            <thead></thead>
            <tbody>
              <tr class="color">
                <td style="width:200px;"></td>
                <td></td>
              </tr>
              <tr class="header">
                <td style="width:200px;">Color</td>
                <td>Magenta</td>
              </tr>
              <tr class="odd">
                <td style="width:200px;border-right:transparent!important">Description</td>
                <td>Magenta is a purplish red color[1] and one of the three primary colors of the subtractive CMYK color model. On color wheels of the RGB (additive) and CMYK (subtractive) color models, it is located midway between red and blue. It is the complementary color of green.</td>
              </tr>
              <tr class="even">
                <td>Color Family</td>
                <td>Reds</td>
              </tr>
              <tr class="odd">
                <td>RGB Value</td>
                <td>(255, 0, 255)</td>
              </tr>
              <tr class="even">
                <td>HSV Value</td>
                <td>(300°, 100%, 100%)</td>
              </tr>
              <tr class="odd">
                <td>Hex Value</td>
                <td>#FF00FF</td>
              </tr>
              <tr class="even">
                <td>Attributes</td>
                <td>Warm</td>
              </tr>
              <tr class="odd">
                <td>Complementary Colors</td>
                <td>Green,</td>
              </tr>
            </tbody>
          </table> 
        </div>
      </div>
    </div>