<!--  Module - Logo Timeline  -->
    <div class="container-fluid" id="logotimeline">
      <div class="span12 well">
        <div class="title" >
          <button type="button" class="btn btn-default">      
            <i class="fa fa-clock-o"></i>
            Logo Timeline
          </button>
            <span class="pull-right muted">
              <div class="tooltips">
                <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="" data-original-title="Information on the Logo Timeline">
                  <i class="fa fa-info-circle"></i>
                </button>
              </div>
            </span>
        </div>
        <!-- Content - Timeline -->
        <div class="well-content">
          <ul id='timeline-logos'>
            <li class='timeline-logo'>
              <input class='radio' id='timeline-logo-1' name='timeline-logo' type='radio' checked>
              <div class="relative">
                <label for='timeline-logo-1'>
                  <img src="http://bit.ly/1flOHbI">
                </label>
                <span class='date'>2008</span>
                <span class='circle'></span>
              </div>
              <div class='content'>
              </div>
            </li>
              <li class='timeline-logo'>
                <input class='radio' id='timeline-logo-2' name='timeline-logo' type='radio'>
                <div class="relative">
                  <label for='timeline-logo-2'>
                    <img src="http://bit.ly/1czUozM">
                  </label>
                  <span class='date'>2011</span>
                  <span class='circle'></span>
                </div>
              <div class='content'>
              </div>
            </li>
              <li class='timeline-logo'>
                <input class='radio' id='timeline-logo-3' name='timeline-logo' type='radio'>
                <div class="relative">
                  <label for='timeline-logo-3'>
                    <img src="http://bit.ly/1hjDWrN">
                  </label>
                  <span class='date'>2013</span>
                  <span class='circle'></span>
                </div>
                <div class='content'>
                </div>
              </li>
          </ul>
        </div>
      </div>
    </div>