<!--  Module - Company Logo Colors  -->
     <div class="container-fluid" id="logocolors">
      <div class="span12 well">
        <div class="title" >
          <button type="button" class="btn btn-default">      
            <i class="fa fa-bar-chart-o" style=""></i>
            Company Logo Colors
          </button>
            <span class="pull-right muted">
              <div class="tooltips">
                <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="" data-original-title="Information on the Company Logo Colors">
                  <i class="fa fa-info-circle"></i>
                </button>
              </div>
            </span>
        </div>
        <div class="well-content">
          <ul id="logocolors-data">
            <li class="logocolor color1" style="background:rgb(117,117,117);width: 16.6%;"></li>
            <li class="logocolor color2" style="background:rgb(141,182,0);width: 16.6%;"></li>
            <li class="logocolor color3" style="background:rgb(255,90,54);width: 16.6%;"></li>
            <li class="logocolor color4" style="background:rgb(8,146,208);width: 16.6%;"></li>
            <li class="logocolor color5" style="background:rgb(85,85,85);width: 16.6%;"></li>
            <li class="logocolor color6" style="background:rgb(255,86,0);width: 16.6%;"></li>
          </ul>
          <div id="infoDiv">
          <ul class="logocolors-selected">
            <li class="logocolors-selected-color">
              <div style="background-color:rgb( 117,117,117);height:50px"></div>
            </li>
            <li class="logocolors-selected-colorname">
              <span style="font-weight:900;text-transform:uppercase;font-size:15px;">Color Name:</span>
              <span style="font-weight:400;text-transform:uppercase;font-size:15px;">Light Gray</span>
            </li>
            <li class="logocolors-selected-colorpercentage">
              <span style="font-weight:900;text-transform:uppercase;font-size:15px;">Percentage:</span>
              <span style="font-weight:400;text-transform:uppercase;font-size:15px;">16.6 %</span>
            </li>
          </ul>
          </div>
        </div>
      </div>
    </div>