<!--  Module - Logo Timeline  -->
    <div class="container-fluid" id="logotimeline">
      <div class="span12 well">
        <div class="title" >
          <button type="button" class="btn btn-default">      
            Logo Timeline
          </button>
            <span class="pull-right muted">
              <div class="tooltips">
              </div>
            </span>
        </div>
        <!-- Content - Timeline -->
        <div class="well-content">

          <ul id='timeline-logos'>

           <% for(var i=0; i<brandResult.logoHistory.length; i++){ %>

            <li class='timeline-logo'>


        <!-- Figure out how to control what item has its radio checked, it has to be the first one -->
        
              <input class='radio' id='timeline-logo-<%= [i] %>' name='timeline-logo' type='radio' checked>
              <div class="relative">
                <label for='timeline-logo-<%= [i] %>'>
                  <img src="../Logos/<%= brandResult.logoHistory[i].fileName%>">
                </label>
                <span class='date'><%= brandResult.logoHistory[i].year%></span>
                <span class='circle'></span>
              </div>
              <div class='content'>
              </div>
            </li>

          <%}%>   

          </ul>
        </div>
      </div>
    </div>