<!--  Module - Industry ColorGeo Map -->
    <div class="container-fluid" id="geomap">
      <div class="span12 well">
        <div class="title" >
          <button type="button" class="btn btn-default">      
            Color Attributes Worldwide
          </button>
            <span class="pull-right muted">
              <div class="tooltips">
              </div>
            </span>
        </div>
        <!-- Content - Google Map -->
        <div class="well-content" style="height: 390px;">
          <div id='map-canvas' style="border:0;height:300px;frameborder:0"></div>
          <div style="padding-top:10px;">
          <div style="float:left;background-color:#ccc;width:75px;height:75px;margin-right:20px;margin-left:20px"></div>
          <div style="float:left;width:25px;margin-right:150px;font-size:12px;line-height:18px;font-weight:700;">
          1.Sterile
          2.Serene
          3.Naive
          4.Peace
          </div>
          <div style="float:left;background-color:rgb( 117, 117, 117);;width:75px;height:75px;margin-right:20px"></div>
          <div style="float:left;width:25px;font-size:12px;line-height:18px;font-weight:700;">
          1.Cool
          2.Leadership
          3.Brilliant
          4.Meaningful
          </div>
          </div>
        </div>
      </div>
    </div>
