<!-- Top Navigation Bar  -->

<style>
 
.selectize-input {
width: 215px!important;
margin-left: 1px!important;
height: 29px;
margin-top: 8px!important;
padding: 1px;
color: rgb(119, 119, 119);
border: 1px solid rgba(12, 13, 19, 0.46)!important;
border-radius: 3px!important;
padding-left: 5px;}

.selectize-dropdown demo-default multi {
    margin-left: 14px!important;
    margin-top: 12px;
    width: 300px;
}

.selectize-input > input {
margin: 3px 2px 0 0 !important;
}

.selectize-control.multi .selectize-input > div {
padding: 0px 6px;
margin: -4px 3px 3px 0;
color: #303030;
cursor: pointer;
background: #f2f2f2;
border: 0 solid #d0d0d0;
}

</style>

<div class="navbar navbar-default navbar-fixed-top" role="navigation" style="height: 75px;padding:10px;margin-left: 5px;">
  <div class="container">
  
<!-- Top Navigation Bar - Left Part - Company Logo -->

    <a class="navbar-brand" href="#">
      <img src="/img/huebrand_logo.png" style="margin-top: -13px;
margin-left: -4px;">

<!-- Top Navigation Bar - Right Part - Name & Dropdown Menu -->

    <ul class="nav navbar-nav navbar-right" style="border-left: 1px rgba(0, 0, 0, 0.06) solid;margin-right:10px;">

      <li class="active dropdown">

        <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="padding: 0px;
padding-left: 19px;">                
            <img src="
            http://m.c.lnkd.licdn.com/mpr/mpr/shrink_200_200/p/4/000/157/2f0/2b9a518.jpg" height="40px" width="40px">
            <span style="font-size: 16px;
font-family: 'Nunito';
color: #000000;
font-weight: 100;">Leslie Harrington</span> 
            <b class="caret"></b>
        </a>

        <ul class="dropdown-menu" style="margin-top:15px;">

            <li class="dropdown-header">Product Features</li>
            <li><a href="#">Favorites</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Search History</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">User Account</li>
            <li><a href="#">User Profile</a></li>
            <li><a href="#">Billing History</a></li>
            <li><a href="#">Support</a></li>
            <li><a href="#">Sign Out</a></li>

        </ul>
      </li>
    </ul>
    <% include search.ejs %>
  </div>
</div>