<!-- Top Navigation Bar  -->

<div class="navbar navbar-default navbar-fixed-top" role="navigation" >
  <div class="container">

<!-- Top Navigation Bar - Left Part - Company Logo -->
    <a class="navbar-brand" href="/">
        <img src="/img/huebrand_logo.png">
    </a>

<!-- Top Navigation Bar - Right Part - Name & Dropdown Menu -->
    <ul class="nav navbar-nav navbar-right">
      <li class="active dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">                
            <img src="http://m.c.lnkd.licdn.com/mpr/mpr/shrink_200_200/p/4/000/157/2f0/2b9a518.jpg" height="40px" width="40px">
                <span class="user-name">
                    Leslie Harrington
                </span> 
            <b class="caret"></b>
        </a>

        <ul class="dropdown-menu">
            <li class="dropdown-header">User Account</li>
                <li><a href="/profile">User Profile</a></li>
                <li class="divider"></li>
                <li><a href="/signOut">Sign Out</a></li>
        </ul>
      </li>
    </ul>
    <% include search.ejs %>
  </div>
</div>