<!-- Top Navigation Bar  -->
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container" style="width: 1000px;">
    <!-- Top Navigation Bar - Left Part - Company Logo -->
      <a class="navbar-brand" href="#">
        <span style="font-weight:900">Hue</span>Brand</a>
    <!-- Top Navigation Bar - Right Part - User Admin Pages -->
      <ul class="nav navbar-nav navbar-right">
        <li class="active dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">  
              <img src="http://m.c.lnkd.licdn.com/mpr/mpr/shrink_200_200/p/4/000/157/2f0/2b9a518.jpg" height="30px" width="30px">
              <span style="font-size: 15px;">Leslie Harrington</span> 
              <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
              <li class="dropdown-header">Product Features</li>
              <li><a href="#">Favorites</a></li>
              <li><a href="#">News</a></li>
              <li><a href="#">Search History</a></li>
              <li class="divider"></li>
              <li class="dropdown-header">User Account</li>
              <li><a href="#">User Profile</a></li>
              <li><a href="#">Billing History</a></li>
              <li><a href="#">Support</a></li>
              <li><a href="#">Sign Out</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>