<ul class="nav bs-sidenav">
        <div class="title">
          <b>Brand</b> 
          <span class="pull-right muted" style="font-size:10px;margin-right:0px;margin-top:3px;">
          <img src="../Logos/<%= brandResult.logoFileName%>" style="height:15px;">
          </span> 
        </div>             
          <li>
          <a class="sidenav-link" href="#companylogo">
            <span class="sidenav-title-icon">
            <i class="fa fa-picture-o"></i>
            </span>
            Company Logo
          </a>
        </li>
        <li>
          <a class="sidenav-link" href="#companyinfo">
            <span class="sidenav-title-icon">
            <i class="fa fa-picture-o"></i>
            </span>
            Company Information
          </a>
        </li>
         <li>
          <a class="sidenav-link" href="#companybrandmanual">
            <span class="sidenav-title-icon">
            <i class="fa fa-picture-o"></i>
            </span>
            Company Brand Manual
          </a>
        </li>

        <li>
          <a class="sidenav-link" href="#logocolors">
            <span class="sidenav-title-icon">
            <i class="fa fa-th-large"></i>
            </span>
            Company Logo Colors
          </a>
        </li>

        <li>
          <a class="sidenav-link" href="#logotimeline">
            <span class="sidenav-title-icon">
            <i class="fa fa-clock-o"></i>
            </span>
            Logo Timeline
          </a>
        </li>

        <li>
          <a class="sidenav-link" href="#logocloud">
            <span class="sidenav-title-icon">
            <i class="fa fa-cloud"></i>
            </span>
            Industry Logo Cloud
          </a>
        </li>

             <li>
          <a class="sidenav-link"  href="#regionalattributes">
            <span class="sidenav-title-icon">
            <i class="fa fa-globe"></i>
            </span>
            Industry ColorGeo Map
          </a>
        </li>

        <li>
          <a class="sidenav-link" href="#colorattributes">
            <span class="sidenav-title-icon">
            <i class="fa fa-crosshairs"></i>
            </span>
            Company Brand Attributes
          </a>
        </li>
       
      </ul>