<!-- [privacy.html] - Static Page for Privacy -->

<% include header %>
<% include sidebar %>

    <div class="container-fluid general-container">
      <div class="span12 well">
        <div class="title" >
          <button type="button" class="btn btn-default">      
            Privacy
          </button>
            <span class="pull-right muted">
              <div class="tooltips">
              </div>
            </span>
        </div>
        <div class="well-content general-well">
          View the Privacy Content Here
         
        </div>
      </div>
    </div>

<% include footer %>

