  
<form id="search-form" class="navbar-form" role="search">
  <span class="search-tabs">
    <span class="search-tab">
      Brand
    </span>
    <span class="search-tab">  
      Industry
    </span>
    <span class="search-tab">  
      Attribute
    </span>
    <span class="search-tab">  
      Color
    </span>
  </span>
<form class="navbar-form" role="search">
  <div class="demo">
    <div class="control-group">
      <select id="select-industry" name="industry[]" multiple class="demo-default"  placeholder="Select a brand...">
        <option value="">Select a brand...</option>
        <option value="Facebook">Facebook</option>
        <option value="Google">Google</option>
        <option value="Exxon Mobil">Exxon Mobil</option>
        <option value="PetroChina">PetroChina</option>
        <option value="Bank of America">Bank of America</option>
        <option value="Citigroup">Citigroup</option>
      </select>
     </div>
    </div>
  </form>
</form>

<script>
  $('#select-industry').selectize({
    maxItems: 1
  });
</script>