<!--  Search Bar  -->

  <form class="navbar-form" role="search" style="float:right;">

 <div id="tabs-industries" style="margin-top:10px;">
        <div class="demo">
        <div class="control-group">
          <select id="select-industry" name="industry[]" multiple class="demo-default"  placeholder="Select an industry...">
            <option value="">Select an industry...</option>
            <optgroup label="Construction">Construction</option>
              <option value="Home-Building">Home-Building</option>
              <option value="Building Materials">Building Materials</option>
            <optgroup label="Energy">
              <option value="Solar">Solar</option>
              <option value="Wind">Wind</option>
            </optgroup>
            <optgroup label="Financial">
              <option value="Banking">Banking</option>
              <option value="Hedge Funds">Hedge Funds</option>
            </optgroup>
            </select>
       </div>
      </div>
      <script>
        $('#select-industry').selectize({
          maxItems: 3
        });
      </script>
    </div>
</form>

<form class="navbar-form" role="search" style="float:right;margin-top:20px;width:350px;margin-right:-20px;">
<span style="font-size:9px;font-family:'Nunito';text-transform:uppercase;">

<span style="border:1px solid #903D3D;padding:5px;border-radius:5px;background-color:#903D3D;color:#fff;">Brand</span>

<span style="border:1px solid #903D3D;padding:5px;border-radius:5px;background-color:#fff;color:#903D3D;">Industry</span>

<span style="border:1px solid #903D3D;padding:5px;border-radius:5px;background-color:#fff;color:#903D3D;">Attribute</span>

<span style="border:1px solid #903D3D;padding:5px;border-radius:5px;background-color:#fff;color:#903D3D;">Color</span>

</span>
</form>