<!-- [signin.html] - Signin Page -->

<% include header %>
<% include sidebar %>

    <div class="container-fluid" style="float:left;margin-right:2%;width:50%;">
      <div class="span12 well">
        <div class="title" >
          <button type="button" class="btn btn-default">      
            Sign In
          </button>
            <span class="pull-right muted">
              <div class="tooltips">
              </div>
            </span>
        </div>
        <div class="well-content" style="height: 600px;overflow: hidden;padding:20px;">
          Sign In Page Here
          <br><br>
          User Name <input></input>
          <br><br>
          Password <input></input>
          <br>
         
        </div>
      </div>
    </div>

<% include footer %>



<% include header %>

<h2 class="txt-cntr">WELCOME TO LOGIN</h2>

<div class="login-head txt-cntr">
    <form id= "login-form" enctype="multipart/form-data" action="/login" method="post">
        <div class="fl clr d-i-b">
            <label>USERNAME</label>
            <input type="text" name="username" value="<%=username%>"/>
        </div>
        <div class="fl clr d-i-b">
            <label>PASSWORD</label>
            <input type="password" name="pwd" value=""/>
        </div>
        <div class="txt-cntr clr submit-button">
            <input type="submit"  value="LOGIN"/>
            <a class="m-l-10" href="/register">REGISTER</a>
        </div>
        <% if(loginErr) { %>
            <span class="err-msg fl"><%=loginErr%></span>
        <% } %>
    </form>
</div>

<a class="fr home-link" href="/">Back to Home</a>

<% include footer %>

