<!-- [signin.html] - Signin Page -->

<% include header %>
<% include sidebar %>

<div id="user-management">

        <h2 class="txt-cntr" style="font-size:24px;">HueBrand Login</h2>
          <div class="login-head txt-cntr">
            <form id= "login-form" enctype="multipart/form-data" action="/login" method="post">
                <div class="fl clr d-i-b">
                    <label>USERNAME</label>
                    <input type="text" name="username"/>
                </div>
                <div class="fl clr d-i-b">
                    <label>PASSWORD</label>
                    <input type="password" name="pwd" v/>
                </div>
                <div class="txt-cntr clr submit-button" style="padding-top: 10px;">
                    <input type="submit"  value="LOGIN"/>
                    <a class="m-l-10 register-button" href="/register">REGISTER</a>
                </div>
                    
            </form>
          </div>
</div>

<% include footer %>


