<!-- [terms.html] - Static Page for Terms and Conditions-->

<% include header %>
<% include sidebar %>

    <div class="container-fluid" style="float:left;margin-right:2%;width:50%;">
      <div class="span12 well">
        <div class="title" >
          <button type="button" class="btn btn-default">      
            Terms
          </button>
            <span class="pull-right muted">
              <div class="tooltips">
              </div>
            </span>
        </div>
        <div class="well-content" style="height: 600px;overflow: hidden;padding:20px;">
          View the Terms Content Here
         
        </div>
      </div>
    </div>

<% include footer %>

