<!-- [update.html] - Update Page -->


<% include header %>
<% include sidebar %>

<div id="user-management"  style="height: 60%;">

        <h2 class="txt-cntr">Edit User</h2>

          <div class="login-head txt-cntr">
            <form id= "login-form" enctype="multipart/form-data" autocomplete="off" action="/register" method="post">
                <div class="fl clr d-i-b"  style="margin: 0px!important;">
                    <input type="text" name="First Name"  <%= disableAttr %>  / >
                </div>
                <div class="fl clr d-i-b"  style="margin: 0px!important;">
                    <input type="text" name="Last Name"  <%= disableAttr %>  / >
                </div>
                <div class="fl clr d-i-b"  style="margin: 0px!important;">
                    <input type="text" name="Email"  <%= disableAttr %>  />
                </div>
                <div class="fl clr d-i-b"  style="margin: 0px!important;">
                    <input type="text" name="Telephone"  <%= disableAttr %>   / >
                </div>
                <div class="fl clr d-i-b"  style="margin: 0px!important;">
                    <input type="text" name="Company Name"   <%= disableAttr %>  / >
                </div>
                <div class="fl clr d-i-b"  style="margin: 0px!important;">
                    <input type="text" name="Job Title"  <%= disableAttr %> / >
                </div>
                <div class="fl clr d-i-b"  style="margin: 0px!important;">
                    <input type="text" name="Username"  <%= disableAttr %> />
                </div>
                <div class="fl clr d-i-b"  style="margin: 0px!important;">
                    <input type="password" name="pwd"  <%= disableAttr %> />
                </div>
                <div class="fl clr d-i-b"  style="margin: 0px!important;">
                    <input type="password" name="confirmpwd"  <%= disableAttr %>  value=""/>
                </div>
                <div class="fl clr d-i-b"  style="margin: 0px!important;">
                    <input type="text" name="Country"  <%= disableAttr %> / >
                </div>
                <div class="fl clr d-i-b"  style="margin: 0px!important;">
                    <input type="text" name="Address Line 1"  <%= disableAttr %> / >
                </div>
                <div class="fl clr d-i-b"  style="margin: 0px!important;">
                    <input type="text" name="Address Line 2"  <%= disableAttr %>  / >
                </div>
                <div class="fl clr d-i-b"  style="margin: 0px!important;">
                    <input type="text" name="City"  <%= disableAttr %>  / >
                </div>
                <div class="fl clr d-i-b"  style="margin: 0px!important;">
                    <input type="text" name="State"  <%= disableAttr %> / >
                </div>
                <div class="txt-cntr clr submit-button">
                    <input type="submit"  value="Submit"  <%= disableAttr %> />
                </div>
        <!--
          <% if(locals.regErr) { %>
            <span class="err-msg fl"><%=regErr%></span>
          <% } %>
        -->
            </form>
          </div>
  
</div>
<% include footer %>
