/*---COLORS   
---*/

/*---GLOBAL---*/

/*--Structure--*/
/*--Typographic--*/
/*--Forms--*/
/*--Tables--*/

/*---HEADER Nav---*/

.row {
		font-family: 'Nunito'!important;
	}

.navbar { 
	background-color: #fff!important; }

.navbar-default {
	border-bottom: #FF0808 2px solid!important;
}

.navbar-brand {
	line-height: 30px!important;
	font-family: 'Oxygen';-webkit-font-smoothing: subpixel-antialiased;
}

.navbar .container {
	width: 98%;
	padding-left: 0px;
	padding-right: 30px;
}

.nav>li {
	position: relative;
	display: block;
	margin-right: -30px;
}

.btn {
	padding: 1px 5px;
margin-bottom: 0;
font-size: 15px;
font-family: 'Oxygen';-webkit-font-smoothing: subpixel-antialiased;
}

.well {
margin-bottom: 0px!important;
}

/*---SIDEBAR---*/

/*---CONTENT---*/

/*---MODULES---*/

/* Module - Company Logo */
 
#companylogo .span12 .well-content {
	padding-right: 20px;
	padding-top:20px;
	padding-right:20px;
	border-bottom-left-radius: 5px;}
 
#companylogo-box {
margin: 0px;
width: 43%;
line-height: 280px;
float: left;
text-align: center;
height: 280px;
}
 
	#companylogo-box img {
	width:70%;	
	}



/*---FOOTER---*/
/* [footer.ejs] - Includes Bottom Footer */
.navbar-fixed-bottom {
	height: 25px;
	font: 500 14px 'Nunito', sans-serif!important;
	text-transform:uppercase;
	border-top: #FF0808 2px solid!important;
	color: #000; }
 
.navbar-fixed-bottom .container {
	width: 98%;
	margin-top:7px; }

.navbar-fixed-bottom .container li {
	float: left;
	margin-top:7px;
	padding-left:2px;
	padding-right:20px;
	list-style-type: none; }

.navbar-fixed-bottom .container li a:link{
	color:#000;
	font-weight:500; }
 
.navbar-fixed-bottom .pull-right a:link {
	font-weight:500;
	color:#000;
}

/* General */
body {
	overflow: auto;
	margin-right: auto!important;
	margin-left: auto!important;
	padding: 20px 0px 20px 0px;
	max-width: 98%;
	width: 100%!important;
	height: 100%;
	background: #fff!important;
	color: #777!important;
	font-family: "", sans-serif!importantƒ;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: subpixel-antialiased;
 }
 
/*
body:after {
    content:'';
    position:fixed;
    bottom: 0;
	height: 150px;
	width: 100%;
	background: linear-gradient(bottom, white, transparent);
	background: -o-linear-gradient(bottom, white, transparent);
	background: -moz-linear-gradient(bottom, white, transparent);
	background: -ms-linear-gradient(bottom, white, rgba(0, 0, 0, 0));
	background: -webkit-linear-gradient(bottom, white, transparent);
	background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 1)), to(transparent));
}
*/
.fa-info-circle { font-size: 20px; }
 
.footer {
	padding: 5px 20px;
	color: #716b7a;
	font-size: 12px; }
 
.page-wrap {
	padding-top: 50px; }
 
	.page-wrap .well {
		padding: 0;
		background: #fff;
		border: 1px solid #BEBCBC;
		opacity: 1; }
 
		.page-wrap .well .title {
			border-bottom: 1px solid rgba(250, 250, 250, 0.3);
			background-color: rgba(240, 240, 240, 0.27);			
			padding:5px;
			text-transform: uppercase;
			font-weight: 400;
			height: 50px; }

			.page-wrap .well .btn-default {
			color: #727272;
			font-family: 'nunito'!important;
			font-size: 22px;
			line-height: 1.4;
			padding: 5px;
			}
			 
		.page-wrap .well .well-content {
			font-weight: 100;
			font-size: 18px;
			font-family: 'Oxygen';-webkit-font-smoothing: subpixel-antialiased;
			line-height: 25px; }
 
.container-fluid {
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-ms-transition: .5s;
	-o-transition: .5s;
	transition: .5s; /* ...and now for the proper property */ }
 
	.container-fluid:hover {
		border-color: rgba(0,0,0,0.2);
		box-shadow: 0 0 5px rgba(0,0,0,0.2)!important; }
 
.btn-default {
	border-color: transparent!important;
	background-color: transparent!important; }
 
.well { border-radius: 0px!important; }
 
.sidenav-title-icon {
	float: left;
	margin-right: 10px;
	width: 15px;
	text-align: center; }
 
:focus { outline: none!important; }
 
ul, menu, dir { -webkit-padding-start: 0px!important; }
 
/* Top Navigation Bar */

 
.navbar-right .dropdown-menu {
	right: 0;
	left: 0!important; }
 
.navbar-brand {
	margin: 0;
	padding: 15px!important;
	color: #000!important;
	text-shadow: none;
	font-weight: 200!important;
	font-size: 26px!important; }
 
 
.navbar .container ul li img {
	margin-right: 10px;
	max-height: 30px;
	width: auto;
	vertical-align: middle; }
 
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:hover, 
.navbar-default .navbar-nav>.active>a:focus {
	background-color: #fff!important;
	color: #000!important; }
 
.pull-right {
	float: right!important;
	margin-right: -10px; }
 
.caret {
	margin-left: 10px!important;
	border-top: 6px solid!important;
	border-right: 6px solid transparent!important;
	border-left: 6px solid transparent!important; }
 
.dropdown-menu { min-width: 186px!important; }
 
	.dropdown-menu li a { padding-left: 40px!important; }
 
@media (min-width: 1200px)
.container { width: 1000px; }
 
@media (min-width: 992px)
.container { width: 970px; }
 
/* Search Bar */
#tabs { border: 0px solid rgb(221, 221, 221); }
 
	#tabs ul {
		padding-top: 2px!important;
		padding-left: 2px!important; }
 
.ui-tabs .ui-tabs-nav li a { padding: 0em!important; }
 
.ui-tabs .ui-tabs-nav {
	margin-top: 3px;
	padding: 0em!important;
	background: rgba(255, 255, 255, 1)!important; }
 
.ui-tabs { padding: 0em!important; }
 
.ui-widget-header { border: 0px solid #aaaaaa!important; }
 
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { border-bottom-right-radius: 0px!important; }
 
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl { border-bottom-left-radius: 0px!important; }
 
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr { border-top-right-radius: 0px!important; }
 
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl { border-top-left-radius: 0px!important; }
 
.ui-widget {
	font-size: 12px!important;
	font-family: Oxygen!important; }
 
.ui-tabs .ui-tabs-nav li {
	margin: 0px 2px 0 0!important;
	padding: 3px!important; }
 
	.ui-tabs .ui-tabs-nav li a, .ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active a { font-size: 9px!important; }
 
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
	border-top: 1px solid #E6E6E6!important;
	border-right: 1px solid #E6E6E6!important;
	border-left: 1px solid #E6E6E6!important; }
 
.bs-sidenav .title .fa { padding-right: 10px; }
 
.ui-tabs .ui-tabs-panel {
	display: block;
	padding: 14px 15px 20px!important;
	border-width: 0;
	border-top: 1px solid rgba(247, 247, 247, 0.5)!important;
	background: #fff!important;
	background-image: linear-gradient(rgba(255, 255, 255), rgb(255, 255, 255))!important; }
 
.selectize-input {
	margin-top: -10px!important;
	margin-bottom: -10px;
	margin-left: -12px!important;
	padding: 5px;
	width: 192px!important;
	border: 1px solid rgba(204, 204, 204, 0.1)!important;
	border-radius: 0px!important; }
 
.selectize-dropdown, .selectize-input, .selectize-input input {
	color: #515151!important;
	font-size: 12px!important;
	font-family: 'oxygen'!important;-webkit-font-smoothing: subpixel-antialiased;
	line-height: 20px!important;
	-webkit-font-smoothing: inherit; }
 
.selectize-control.multi .selectize-input > div {
	margin: 1px 11px 3px -5px!important;
	padding: 2px 10px!important;
	border: 0 solid rgba(0, 0, 0, 0);
	background: rgba(243, 243, 243, 0.329412)!important;
	color: #333333;
	font-family: 'Oxygen';-webkit-font-smoothing: subpixel-antialiased;
	cursor: pointer; }
 
.selectize-dropdown, .selectize-dropdown.form-control {
	top: 26px!important;
	left: -12px!important; }
 
/* Index Bar */
.bs-sidenav {
	margin-top: 10 0px 10px 15px;
	padding-top: 10px 0px 10px 0px;
	width: 200px;
	border: 1px solid #ddd!important;
	border-radius: 0px!important;
	background-color: #FFFFFF;
	font-family: 'Oxygen', sans-serif; }
 
	.bs-sidenav .title {
		padding: 3px 13px 3px 13px;
		border-bottom: 1px solid rgba(221, 221, 221, 0.3);
		border-top-left-radius: 0px!important;
		border-top-right-radius: 0px!important;
		background-color: rgba(243, 243, 243, 0.33);
		color: #373E4E;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 11px; }
 
.affix-top {
	padding-top: 16px;
	padding-right: 9px;
	height: 100%;
	border-right: 1px dotted rgba(17, 17, 17, 0.07); }
 
.affix {
	padding-top: 16px;
	padding-right: 9px;
	height: 100%;
	border-right: 1px dotted rgba(17, 17, 17, 0.07); }
 
.bs-sidebar .nav > li > a {
	display: block;
	padding: 5px 10px;
	border-bottom: 1px solid rgba(223, 220, 220, 0.08);
	color: #716b7a; }
 
	.bs-sidebar .nav > li > a:hover, 
.bs-sidebar .nav > li > a:focus {
		border-right: 2px solid #000;
		border-right: 1px solid #dbd8e0;
		background-color: rgba(243, 243, 243, 0.33);
		color: #000;
		text-decoration: none; }
 
.bs-sidebar .nav > .active > a, 
.bs-sidebar .nav > .active:hover > a, 
.bs-sidebar .nav > .active:focus > a {
	border-right: 2px solid #000;
	background-color: rgba(243, 243, 243, 0.33);
	color: black;
	font-weight: 700; }
 
.demo {
	margin-bottom: -12px;
	padding: 0px; }
 

 
.selectize-dropdown, .selectize-input, .selectize-input input {
	font-size: 10px;
	font-family: "Oxygen"; }
 
.nav>li {
	position: relative;
	display: block;
	font-size: 11px;
	font-family: 'Oxygen';-webkit-font-smoothing: subpixel-antialiased;
	line-height: 14px; }
 
#buttondownload {
	margin-top: 20px;
	background-color: rgb(252, 252, 252);
	border: 1px solid #e3e3e3;
	padding-top: 10px;
	padding-left: 25px;
	padding-right: 25px;
	line-height: 15px;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 700;
	display: inline-block;
	border-radius: 3px;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-ms-transition: .5s;
	-o-transition: .5s;
	transition: .5s; /* ...and now for the proper property */ }
 
	#buttondownload:hover {
		border-color: rgba(0,0,0,0.2);
		background-color: rgba(240, 240, 240, 0.57);
		box-shadow: 0 0 5px rgba(0,0,0,0.2)!important; }
 
/* Module - Company Information */
#companyinfo {
	border-collapse: collapse;
	background: #fff;
	text-align: left;
	font-size: 12px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif; }
 
	#companyinfo .fa-file-text-o {
		margin-right: 10px;
		font-size: 20px; }
 
#companyinfo-data {
	background: #fff;
	border: 1px solid rgba(0, 0, 0, 0.0666667)!important;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-ms-transition: .5s;
	-o-transition: .5s;
	transition: .5s; /* ...and now for the proper property */
	padding-bottom: 10px; }
 
	#companyinfo-data:hover {
		border-color: rgba(0,0,0,0.2);
		box-shadow: 0 0 5px rgba(0,0,0,0.2)!important; }
 
#companyinfo tr { margin-top: 10px; }
 
	#companyinfo tr.header {
		background-color: #272525;
		color: #fff;
		font-weight: 500; }
 
	#companyinfo tr.even {
		background: rgba(253, 253, 253, 0.28);
		color: rgba(0, 0, 0, 0.6); }
 
	#companyinfo tr.odd {
		background: rgba(238, 238, 238, 0.14);
		color: rgba(0, 0, 0, 0.6); }
 
	#companyinfo tr td {
		padding: 10px 10px 10px 10px;
		border: 1px solid rgba(152, 152, 152, 0.02); }
 
		#companyinfo tr td:first-child { font-weight: 700; }
 
/* Module - Logo Colors Old 
#logocolors .fa-bar-chart-o {
	font-size:20px;
	margin-right:10px
}
 
#logocolors .span12 .well-content {
	border-bottom-left-radius:5px;
	padding:0px;
}
 
#logocolors-data {
	margin: 0px;
	width: 100%; 
	color: #fff;
	overflow: hidden;
	white-space: nowrap;     
	}
 
#logocolors-data li {
	float: left;
	min-height: 121px;
	overflow:hidden;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}
 
#logocolors-data li:hover{
	zoom: 103%;
	-moz-transform: scale(1.03);
	-webkit-transform: scale(1.03);
	scale(1.03);
	transform: scale(1.03);
	-moz-box-shadow: 1px 1px 5px #000;
	-webkit-box-shadow: 1px 1px 5px #000;
	box-shadow: 1px 1px 5px #000;
	z-index:300;
}
 
.logocolors-selected {
	width:100%;
	height:50px;
	list-style-type: none;
	margin-top: 20px;
	margin-bottom: 0px;
	margin-left:0px;
	border: 1px solid rgba(221, 221, 221, 1);
}
 
.logocolors-selected li {
	width: 33.3%;
	height: 49px;
	float: left;
	border-right: 1px solid rgba(233, 233, 233, 1);
	text-align: center;
	line-height: 50px;
}
 
.logocolors-selected-colorname {
	line-height: 45px!important;
}
 
.logocolors-selected-colorpercentage {
	line-height: 45px!important;
}
 
*/
/* Module - Logo Colors New */
#logocolors .fa-bar-chart-o {  }
 
#logocolors .fa-bar-chart-o {
	margin-right: 10px;
	font-size: 20px; }
 
#logocolors .span12 .well-content {
	padding: 0px;
	border-bottom-left-radius: 5px;
	height: 140px; }
 
/* Image Box Style */
#logocolors .box {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 0px;
	width: 16.66%;
	height: 100%;
	border-right: 1px solid rgb(233, 233, 233);
	box-shadow: #fff 0px 0px 0px 0px;
	cursor: pointer; }
 
	#logocolors .box img {
		position: absolute;
		left: 0;
		-webkit-transition: all 300ms ease-out;
		-moz-transition: all 300ms ease-out;
		-ms-transition: all 300ms ease-out;
		-o-transition: all 300ms ease-out;
		transition: all 300ms ease-out; }
 
	/* Caption Common Style */
#logocolors .box .caption {
		position: absolute;
		left: 0;
		z-index: 100;
		background-color: rgba(0,0,0,0.05);
		color: #fff;
		-webkit-transition: all 500ms ease-out;
		-moz-transition: all 500ms ease-out;
		-ms-transition: all 500ms ease-out;
		-o-transition: all 500ms ease-out;
		transition: all 500ms ease-out; }
 
	/** Caption 1: Simple **/
#logocolors .box .simple-caption {
		bottom: -80px;
		display: block;
		padding-top: 10px;
		width: 100%;
		height: 125px; }
 
	#logocolors .box .colorname {
		padding-top: 10px;
		text-align: center;
		font-weight: 500;
		font-size: 13px;
		font-family: 'Oxygen';-webkit-font-smoothing: subpixel-antialiased; }
 
	#logocolors .box .colormoreinfo { font-family: 'Oxygen';-webkit-font-smoothing: subpixel-antialiased; }
 
		#logocolors .box .colormoreinfo ul {
			padding-top: 10px;
			padding-left: 20px;
			font-family: 'Oxygen';-webkit-font-smoothing: subpixel-antialiased;
			line-height: 20pt; }
 
			#logocolors .box .colormoreinfo ul li {
				padding-left: 10px;
				font-size: 8px;
				font-family: 'Oxygen';-webkit-font-smoothing: subpixel-antialiased;
				line-height: 12px; }
 
	/** Simple Caption :hover Behaviour **/
#logocolors .box:hover .simple-caption {
		opacity: 1;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-80%);
		-o-transform: translateY(-80%);
		transform: translateY(-50%); }
 
/* Module - Company Brand Manual */
#companybrandmanual-box {
	padding-top: 20px;
	padding-bottom:: 20px;
	padding-left: 80px;
	width: 100%!important;
	height: 190px;
	border: 1px solid rgba(0, 0, 0, 0.0666667);
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	background: rgb(252, 252, 252);
	-webkit-transition: 0.5s;
	transition: 0.5s; }
 
	#companybrandmanual-box:hover {
		border-color: rgba(0,0,0,0.2);
		background-color: rgba(240, 240, 240, 0.57);
		box-shadow: 0 0 5px rgba(0,0,0,0.2)!important; }
 
/* Module - Industry Logo Cloud */
#topattributes .fa-crosshairs {
	margin-right: 10px;
	font-size: 20px; }
 
#topattributes .span12 .well-content {
	display: table;
	padding: 0px;
	padding-bottom: 0px!important;
	height: 106px;
	border-bottom-left-radius: 5px; }
 
#topattributes-data {
	margin: 0px;
	width: 100%;
	list-style-type: none; }
 
	#topattributes-data li {
		float: left;
		margin-bottom: 20px;
		margin-left: 20px;
		padding: 20px;
		width: 215px;
		border: 1px rgba(0, 0, 0, 0.07) solid;
		background: #FCFCFC;
		text-align: center;
		font-weight: normal;
		-webkit-transition: .5s;
		-moz-transition: .5s;
		-ms-transition: .5s;
		-o-transition: .5s;
		transition: .5s; /* ...and now for the proper property */ }
 
		#topattributes-data li:hover {
			border-color: rgba(0,0,0,0.2);
			background: rgba(184, 184, 184, 0.1);
			box-shadow: 0 0 5px rgba(0,0,0,0.2)!important; }
 
/* Module - Industry Attribute Associations */
#topindustries .fa-star {
	margin-right: 10px;
	font-size: 20px; }
 
#topindustries .span12 .well-content {
	padding: 0px;
	border-bottom-left-radius: 5px;
	height: 106px;
	display: table;
	padding-bottom: 0px!important; }
 
#topindustries-data {
	margin: 0px;
	margin-top:30px;
	padding:20px;
	width: 100%;
	list-style-type: none; }
 
	#topindustries-data li {
		float: left;
		padding: 0px 0px 20px 0px;
		background: #Fff;
		font-weight: normal;
		margin-left: 10px;
		border: 1px rgba(0, 0, 0, 0.07) solid;
		margin-bottom: 20px;
		width: 205px;
		height: 205px;
		text-align: center;
		text-transform: uppercase;
		font-size: 16px;
		-webkit-transition: .5s;
		-moz-transition: .5s;
		-ms-transition: .5s;
		-o-transition: .5s;
		transition: .5s; /* ...and now for the proper property */ }
 
		#topindustries-data li:hover {
			border-color: rgba(0,0,0,0.2);
			background-color: rgba(253, 253, 253, 0.5);
			box-shadow: 0 0 5px rgba(0,0,0,0.2)!important; }
 
		#topindustries-data li div {
		
			width: 100%;
			height: 140px; }
 
	#topindustries-data img { height: 100%; }
 
/* Module - Common Color Combinations */
#colorchart .fa-bar-chart-o {
	margin-right: 10px;
	font-size: 20px; }
 
#colorchart .span12 .well-content {
	padding: 0px;
	border-bottom-left-radius: 5px;}
 
#colorchart-data {
	overflow: hidden;
	margin: 0px;
	width: 100%;
	color: #fff;
	white-space: nowrap; }
 
	#colorchart-data li {
		float: left;
		min-height: 121px;
		overflow: hidden;
		-webkit-transition: .5s;
		-moz-transition: .5s;
		-ms-transition: .5s;
		-o-transition: .5s;
		transition: .5s; /* ...and now for the proper property */ }
 
		#colorchart-data li:hover {
			z-index: 300;
			-webkit-box-shadow: 1px 1px 5px #000;
			-moz-box-shadow: 1px 1px 5px #000;
			box-shadow: 1px 1px 5px #000;
			-webkit-transform: scale(1.3);
			-moz-transform: scale(1.3);
			transform: scale(1.3);
			zoom: 130%;
			scale(1.3); }
 
.colorchart-selected {
	margin-top: 20px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	height: 50px;
	border: 1px solid rgba(221, 221, 221, 1);
	list-style-type: none; }
 
	.colorchart-selected li {
		float: left;
		width: 33.3%;
		height: 49px;
		border-right: 1px solid rgba(233, 233, 233, 1);
		text-align: center;
		line-height: 50px; }
 
.colorchart-selected-colorname { line-height: 45px!important; }
 
.colorchart-selected-colorpercentage { line-height: 45px!important; }
 
/* Module - Regional Attribute Associations */
#geomap .fa-globe {
	margin-right: 10px;
	font-size: 14px; }
 
#geomap .span12 .well-content {
	padding: 0px;
	border-bottom-left-radius: 5px;}
 
/* Module - Logo Timeline */
#logotimeline {}
 
#timeline-logos {
	margin-top: 8px;
	margin-bottom: 0px;
	margin-left: 0px; }
 
 
#logotimeline .fa-clock-o {
	margin-right: 10px;
	font-size: 20px; }
 
#logotimeline li { display: table-cell; }
 
	#logotimeline li .relative { position: relative; }
 
#logotimeline p { margin: 0 0 15px; }
 
#logotimeline .span12 .well-content {
	overflow-x: scroll;
	padding: 50px 0px 25px 15px;
	border-bottom-left-radius: 5px;
	background-color: #fff;
	color: #2A2A2A;
	white-space: nowrap; }
 
	#logotimeline .span12 .well-content img { height: 100px; }
 
	#logotimeline .span12 .well-content .radio,
#logotimeline .span12 .well-content .checkbox { display: none!important; }
 
#logotimeline .date {
	position: absolute;
	top: -50px;
	top: -13px;
	right: 0;
	left: 0;
	text-align: center;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px; }
 
#logotimeline .circle {
	position: absolute;
	top: 7px;
	right: 0;
	left: 0;
	display: block;
	margin: 0 auto;
	width: 10px;
	height: 10px;
	border: 8px solid rgba(10, 22, 98, 0.36);
	border-radius: 50%;
	background: rgb(255, 255, 255); }
 
#logotimeline .content {
	position: relative;
	margin-top: 40px;
	padding: 90px 15px 15px;
	width: 100px;
	border-width: 2px;
	border-style: solid;
	border-color: rgba(245, 243, 243, 0.25);
	border-radius: 0em;
	vertical-align: top;
	transition: width 0.4s linear, max-height 0.4s linear; }
 
	#logotimeline .content:before, .content:after {
		position: absolute;
		bottom: 100%;
		width: 0;
		height: 0;
		border: solid transparent;
		content: "";
		pointer-events: none; }
 
	#logotimeline .content:before {
		left: 50%;
		margin-left: -15px;
		border-width: 15px;
		border-bottom-color: inherit; }
 
	#logotimeline .content:after {
		left: 50%;
		margin-left: -12px;
		border-width: 12px;
		border-bottom-color: #F2F5FA; }
 
	#logotimeline .content p {
		overflow: hidden;
		max-height: 0;
		color: transparent;
		text-align: justify;
		word-break: break-word;
		hyphens: auto; }
 
#logotimeline label {
	position: absolute;
	top: 60px;
	left: 15px;
	z-index: 100;
	display: block;
	overflow: hidden;
	width: 200px;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 1.3em;
	line-height: 55px;
	cursor: pointer; }
 
#logotimeline .radio { display: none!important; }
 
	#logotimeline .radio:checked + .relative label {
		width: 400px;
		cursor: auto;
		transition: width 0.3s linear 0.2s; }
 
	#logotimeline .radio:checked + .relative .circle { background: #000; }
 
	#logotimeline .radio:checked ~ .content {
		width: 394px;
		border-color: #e3e3e3; }
 
		#logotimeline .radio:checked ~ .content p {
			max-height: 200px;
			color: #eee9dc;
			transition: color 0.3s linear 0.3s; }
 
/* Module - Color Information */
#colorinfo-data {
	background: #fff;
	border: 1px solid rgba(0, 0, 0, 0.0666667)!important;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-ms-transition: .5s;
	-o-transition: .5s;
	transition: .5s; /* ...and now for the proper property */
	padding-bottom: 10px; }
 
	#colorinfo-data:hover {
		border-color: rgba(0,0,0,0.2);
		box-shadow: 0 0 5px rgba(0,0,0,0.2)!important; }
 
	#colorinfo-data tr { margin-top: 10px; }
 
		#colorinfo-data tr.color {
			height: 50px;
			background: #FF00FF; }
 
		#colorinfo-data tr.header {
			background-color: #272525;
			color: #fff;
			font-weight: 500; }
 
		#colorinfo-data tr.even {
			background: rgba(253, 253, 253, 0.28);
			color: rgba(0, 0, 0, 0.6); }
 
		#colorinfo-data tr.odd {
			background: rgba(238, 238, 238, 0.14);
			color: rgba(0, 0, 0, 0.6); }
 
		#colorinfo-data tr td {
			padding: 10px 10px 10px 10px;
			border: 1px solid rgba(152, 152, 152, 0.02); }
 
			#colorinfo-data tr td:first-child { font-weight: 700; }
 
/* Module - Color & Logo Cloud - Isotope */
.logoCloudFilter a {
	margin-right: 10px;
	color: #666;
	text-decoration: none;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: rgb(252, 252, 252);
	border: 1px solid #e3e3e3;
	padding: 10px;
	line-height: 10px;
	font-size: 11px;
	font-weight: 400;
	display: inline-block;
	border-radius: 3px;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-ms-transition: .5s;
	-o-transition: .5s;
	transition: .5s; /* ...and now for the proper property */ }
 
	.logoCloudFilter a:hover {
		border-color: rgba(0,0,0,0.2);
		background-color: rgba(240, 240, 240, 0.57);
		box-shadow: 0 0 5px rgba(0,0,0,0.2)!important;
		text-decoration: none; }
 
	.logoCloudFilter a.current { font-weight: bold; }
 
.logoCloudContainer img { padding: 20px; }
 
.isotope-item { z-index: 2; }
 
.isotope-hidden.isotope-item {
	z-index: 1;
	pointer-events: none; }
 
.isotope,
.isotope .isotope-item {
	-webkit-transition-duration: 0.8s; /* change duration value to whatever you like */
	-moz-transition-duration: 0.8s;
	transition-duration: 0.8s; }
 
.isotope {
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	transition-property: height, width; }
 
	.isotope .isotope-item {
		-webkit-transition-property: -webkit-transform, opacity;
		-moz-transition-property: -moz-transform, opacity;
		transition-property: transform, opacity; }
 
/* TopColors */
#topcolors .fa-bar-chart-o {  }
 
#topcolors .fa-bar-chart-o {
	margin-right: 10px;
	font-size: 20px; }
 
#topcolors .span12 .well-content {
	padding: 0px;
	border-bottom-left-radius: 5px;
	height: 230px; }
 
/* Image Box Style */
#topcolors .box {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 0px;
	width: 33.33%;
	height: 200px;
	height: 200px;
	border-right: 1px solid rgb(233, 233, 233);
	box-shadow: #fff 0px 0px 0px 0px;
	cursor: pointer; }
 
	#topcolors img {
		position: absolute;
		left: 0;
		-webkit-transition: all 300ms ease-out;
		-moz-transition: all 300ms ease-out;
		-ms-transition: all 300ms ease-out;
		-o-transition: all 300ms ease-out;
		transition: all 300ms ease-out; }
 
	/* Caption Common Style */
#topcolors .box .caption {
		position: absolute;
		left: 0;
		z-index: 100;
		background-color: rgba(0,0,0,0.05);
		color: #fff;
		-webkit-transition: all 500ms ease-out;
		-moz-transition: all 500ms ease-out;
		-ms-transition: all 500ms ease-out;
		-o-transition: all 500ms ease-out;
		transition: all 500ms ease-out; }
 
	/** Caption 1: Simple **/
#topcolors .box .simple-caption {
		bottom: -80px;
		display: block;
		padding-top: 10px;
		width: 100%;
		height: 125px; }
 
	#topcolors .box .colorname {
		padding-top: 10px;
		text-align: center;
		font-weight: 500;
		font-family: 'Oxygen';-webkit-font-smoothing: subpixel-antialiased; }
 
	#topcolors .box .colormoreinfo { font-family: 'Oxygen';-webkit-font-smoothing: subpixel-antialiased; }
 
		#topcolors .box .colormoreinfo ul {
			padding-top: 10px;
			padding-left: 15px;
			font-family: 'Oxygen';-webkit-font-smoothing: subpixel-antialiased;
			line-height: 25pt; }
 
		#topcolors .box .colormoreinfo li {
			padding-left: 15px;
			font-size: 11px;
			font-family: 'Oxygen';-webkit-font-smoothing: subpixel-antialiased;
			line-height: 18px; }
 
	/** Simple Caption :hover Behaviour **/
#topcolors .box:hover .simple-caption {
		opacity: 1;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-80%);
		-o-transform: translateY(-80%);
		transform: translateY(-50%); }
 
/* Color Palette */
#colorpalette .fa-bar-chart-o {
	margin-right: 10px;
	font-size: 20px; }
 
#colorpalette .span12 .well-content {
	padding: 0px;
	border-bottom-left-radius: 5px;
	height: 350px; }
 
/* Image Box Style */
#colorpalette .box {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 0px;
	width: 33.3%;
	height: 90px;
	border-top: 1px solid rgba(233, 233, 233,.1);
	border-right: 1px solid rgba(233, 233, 233,.1);
	box-shadow: #fff 0px 0px 0px 0px;
	cursor: pointer; }
 
	#colorpalette .box img {
		position: absolute;
		left: 0;
		-webkit-transition: all 300ms ease-out;
		-moz-transition: all 300ms ease-out;
		-ms-transition: all 300ms ease-out;
		-o-transition: all 300ms ease-out;
		transition: all 300ms ease-out; }
 
	/* Caption Common Style */
#colorpalette .box .caption {
		position: absolute;
		left: 0;
		z-index: 100;
		background-color: rgba(0,0,0,0.02);
		color: #fff;
		-webkit-transition: all 500ms ease-out;
		-moz-transition: all 500ms ease-out;
		-ms-transition: all 500ms ease-out;
		-o-transition: all 500ms ease-out;
		transition: all 500ms ease-out; }
 
	/** Caption 1: Simple **/
#colorpalette .box .simple-caption {
		bottom: -90px;
		display: block;
		padding-top: 10px;
		width: 100%;
		height: 125px; }
 
	#colorpalette .box .colorname {
		padding-top: 10px;
		text-align: center;
		font-weight: 500;
		font-family: 'Oxygen';-webkit-font-smoothing: subpixel-antialiased; }
 
	#colorpalette .box .colormoreinfo { font-family: 'Oxygen';-webkit-font-smoothing: subpixel-antialiased; }
 
		#colorpalette .box .colormoreinfo ul {
			padding-top: 10px;
			padding-left: 15px;
			font-family: 'Oxygen';-webkit-font-smoothing: subpixel-antialiased;
			line-height: 25pt; }
 
			#colorpalette .box .colormoreinfo ul li {
				padding-left: 15px;
				font-size: 11px;
				font-family: 'Oxygen';-webkit-font-smoothing: subpixel-antialiased;
				line-height: 18px; }
 
	/** Simple Caption :hover Behaviour **/
#colorpalette .box:hover .simple-caption {
		opacity: 1;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-80%);
		-o-transform: translateY(-80%);
		transform: translateY(-50%); }


	/** Menu Slider **/
body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
	background-color: #FFF;
	color:#666;
}

h1 {
	font-weight: 300;
	font-size: 36px;
	color:#007CF7;
}

h1 i {
	margin-right:10px;
	color:#CCC;
}

button {
	border-collapse: collapse;
	border:0;
	border-radius: 5px;
	padding:10px;
	margin:5px;
	display: inline-block;
	border:1px solid #CCC;
	background-color: transparent;
	cursor: pointer;
}

.menu-slide {
	width:100%;
	height:30px;
	position: relative;
	display:  none;
	border:1px solid #007CF7;
	padding:0;
	border-radius: 5px;
}

.menu-slide button {
	display: inline-block;
	border-collapse: collapse;
	position: absolute;
	padding:0;
	margin:0;
	height:30px;
	top:0;
	left:0;
	background-color: #007CF7;
	border:0;
}

.menu-slide ul {
	position:absolute;
	list-style: none;
	display: inline-block;
	margin:0;
	padding:0;
	width:100%;
}

.menu-slide ul li {
	display: inline-block;
	height: 30px;
	line-height: 30px;
	padding:0;
	margin:0;
	text-align: center;
	color:#007CF7;
	cursor: pointer;
	box-sizing: border-box;
	border-right:1px solid #007CF7;
}

.menu-slide ul li i {
	margin-right:5px;
}

.menu-slide ul li:last-child {
	border:0;
}


#content-area {
	position: relative;
	display: inline-block;
	width:100%;
	padding:0 20px 20px 20px;
	border:1px solid #007CF7;
	box-sizing: border-box;
	margin:10px 0;
	border-radius: 5px;
}

#palette-area {
	box-sizing: border-box;
	padding:20px;
}

#palette-area .gray {
	color:#999;
	border-color: #999;
}

#palette-area .blue {
	color:#007CF7;
	border-color: #007CF7;
}

#palette-area .red {
	color:#EA3150;
	border-color:#EA3150;
}

#palette-area .insta {
	color:#666;
	background-color: d1d1d1;
	border-color:#CCC;
}

.blue .menu-slide ul li, .blue #content-area h1 { color:#007CF7; }
.blue .menu-slide ul li.active { color:#FFFFFF !important; }
.blue #content-area, .blue .menu-slide ul li, .blue .menu-slide { border-color:#007CF7; }
.blue .menu-slide button { background-color:#007CF7; border:0; }
.blue .menu-slide ul li i { display:none; }

.red .menu-slide ul li, .red #content-area h1 { color:#EA3150; }
.red .menu-slide ul li.active { color:#FFFFFF !important; }
.red #content-area, .red .menu-slide ul li, .red .menu-slide { border-color:#EA3150; }
.red .menu-slide button { background-color:#EA3150; border:0; }
.red .menu-slide ul li i { display:none; }

.gray .menu-slide ul li, .gray #content-area h1 { color:#999; }
.gray .menu-slide ul li.active { color:#FFFFFF !important; }
.gray #content-area, .gray .menu-slide ul li, .gray .menu-slide { border-color:#999; }
.gray .menu-slide button { background-color:#999;  border:0; }

.insta .menu-slide ul li, .insta #content-area h1 { color:#666; }
.insta .menu-slide ul li { border-right: 0; }
.insta .menu-slide { background-color: #d1d1d1; }
.insta .menu-slide ul li.active { color:#000 !important; }
.insta #content-area, .insta .menu-slide ul li, .insta .menu-slide { border-color:#CCC; }
.insta .menu-slide button { background-color:#FFF; border:1px solid #999; }
  